
@font-face {
  font-family: guidRegular;
  src: url("/fonts/vendor/googleFont/OpenSans-Regular.ttf");
}
@font-face {
  font-family: guidBold;
  src: url("/fonts/vendor/googleFont/OpenSans-Bold.ttf");
}
@font-face {
  font-family: guidLight;
  src: url("/fonts/vendor/googleFont/OpenSans-Light.ttf");
}


#header-menu .app-circle {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f2cc00;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

#header-menu #scheduleSuccessMessage,
#header-menu #listyourHomeSuccessMessage {
    display: none;
    padding: 40px;
}

#header-menu #scheduleSuccessMessage .app-circle,
#header-menu #listyourHomeSuccessMessage .app-circle {
    width: 100px;
    margin: 10px auto;
    height: 100px;
}

#header-menu #scheduleSuccessMessage .app-circle .fa,
#header-menu #listyourHomeSuccessMessage .app-circle .fa {
    font-size: 55px;
    color: #2c51a4;
}

#header-menu #scheduleSuccessMessage.active,
#header-menu #listyourHomeSuccessMessage.active {
    display: block;
}

#header-menu .company-logo {
    padding: 0 25px;
    align-self: center;
}

#header-menu .company-logo img {
    height: 45px;
}

#header-menu .dropup,
#header-menu .dropdown {
    position: inherit;
}

#header-menu {
    font-family: guidRegular;
    background: #2c51a4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 98px;
}

#header-menu .bismillah-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
    color: #fff;
    padding: 10px 20px 10px 0;
    cursor: pointer;
}

#header-menu .bismillah-logo img {
    width: 140px;
}

#header-menu .bismillah-logo .company-phone {
    padding-top: 5px;
    font-size: 18px;
}

#header-menu ul.dropdown {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin-bottom: 2px;
    padding: 0px 10px;
}

#header-menu ul.dropdown .divider {
    display: none;
}

#header-menu ul.dropdown li.drop-item {
    padding: 60px 15px 10px 15px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #2c51a4;
}

#header-menu ul.dropdown li.drop-item:hover {
    background: #254386;
    border-top: 2px solid #f2cc00;
}

#header-menu ul.dropdown li.drop-item:hover >a {
    color: #f2cc00;
}

#header-menu ul.dropdown li.drop-item >.icon {
    padding-right: 10px;
}

#header-menu ul.dropdown li.drop-item >a {
    color: #fff;
}

#header-menu ul.dropdown li.drop-item:hover,
#header-menu ul.dropdown li.drop-item:hover>a {
    color: #f2cc00;
}

#header-menu ul.dropdown li.drop-item .sub-menu a {
    text-decoration: none;
}

#header-menu ul.dropdown li.drop-item .sub-menu a.heading:hover {
    cursor: default;
}

#header-menu ul.dropdown li.drop-item .sub-menu a:hover,
#header-menu ul.dropdown li.drop-item .sub-menu a:visited,
#header-menu ul.dropdown li.drop-item .sub-menu a:active,
#header-menu ul.dropdown li.drop-item .sub-menu a:focus {
    text-decoration: none;
    cursor: pointer;
}

#header-menu .dropdown-sub {
    position: absolute;
    align-self: flex-start;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    background: #254386;
    color: #fff;
    left: 0;
    margin-top: 31px;
    list-style: none;
    font-size: 13px;
    border-bottom: 2px solid #f2cc00;
    z-index: 99;
}

#header-menu .dropdown-sub .sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

#header-menu .dropdown-sub .sub-menu .menu-column {
    display: flex;
    flex-direction: column;
    padding: 15px 23px 0px 23px;
}

@media screen and (max-width: 1060px) {
    #header-menu .dropdown-sub .sub-menu .menu-column {
        padding: 15px 18px 0px 18px;
    }
}

#header-menu .dropdown-sub .heading {
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid #f2cc00;
    padding: 20px 0px 15px 0px;
    font-size: 18px;
}

@media screen and (max-width: 1155px) {
    #header-menu .dropdown-sub .heading {
        font-size: 16px;
        letter-spacing: 2px;
    }
}

#header-menu .dropdown-sub .list-group-item {
    border: none;
    padding: 8px 0px 5px 0px;
    background: none;
    color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 1060px) {
    #header-menu .dropdown-sub .list-group-item {
        font-size: 15px;
    }
}

#header-menu .dropdown-sub .list-group-item .fa {
    color: #f2cc00;
    padding-right: 10px;
}

#header-menu .dropdown-sub .list-group-item:hover {
    color: #f2cc00;
}

#header-menu .dropdown-sub .quick-links {
    display: flex;
    flex-direction: row;
    background: #ebebeb;
    text-align: center;
    justify-content: center;
    font-family: guidBold;
}

#header-menu .dropdown-sub .quick-links .list-group-item + .list-group-item {
    border-left: 1px solid #2c51a4;
}

#header-menu .dropdown-sub .quick-links .heading {
    border: none;
}

#header-menu .dropdown-sub .quick-links .heading:hover {
    text-decoration: none;
}

#header-menu .dropdown-sub .quick-links a {
    margin: 15px 0px;
    padding: 0 20px;
    color: #2c51a4;
}

#header-menu .dropdown-sub .quick-links a:hover {
    color: #2c51a4;
    text-decoration: underline;
}

#header-menu .drop-item .dropdown-sub {
    display: none;
}

#header-menu .drop-item:hover >a {
    text-decoration: none;
}

#header-menu .drop-item:hover .dropdown-sub {
    display: flex;
    width: 100%;
    animation: slide-up 0.6s ease-out;
}

#header-menu .mobile-menu-wrapper {
    display: none;
    cursor: pointer;
}

#header-menu .mobile-menu-wrapper .mobile-icon {
    font-size: 45px;
    padding-left: 10px;
    color: #fff;
}

#header-menu .mobile-menu-wrapper .mobile-icon.hide {
    display: none;
}

#header-menu .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background: #2c51a4;
    z-index: 99;
}

#header-menu .mobile-menu.active {
    display: block;
}

#header-menu .mobile-menu .close-mobile {
    height: 100px;
}

#header-menu .mobile-menu .list-group-item .fa {
    padding-right: 30px;
}

#header-menu .mobile-menu .list-group-item.tier-2 {
    padding-left: 9%;
    background: #254386 !important;
}

#header-menu .mobile-menu .list-group-item.tier-3 {
    padding-left: 18%;
    background: #21366e !important;
}

#header-menu .close-mobile-icon {
    font-size: 45px;
    color: #fff;
    padding: 10px;
}

#header-menu .list-group {
    margin-bottom: 0px;
}

#header-menu .mobile-menu a.list-group-item {
    background: none;
    border: none;
    color: #fff !important;
    font-size: 22px;
}

#header-menu a.list-group-item.tier-1:hover,
#header-menu a.list-group-item.tier-1:active,
#header-menu a.list-group-item.tier-1:focus {
    background: none;
}

#header-menu a.list-group-item:hover,
#header-menu a.list-group-item:active,
#header-menu a.list-group-item:focus {
    background: none;
    color: #f2cc00 !important;
}

#header-menu a[aria-expanded="false"].list-group-item:focus {
    color: #fff !important;
}

#header-menu a[aria-expanded="false"].list-group-item:hover {
    color: #f2cc00 !important;
}

#header-menu a[aria-expanded="true"].list-group-item {
    color: #f2cc00;
}

#header-menu .open-close-icon {
    float: right;
}

#header-menu a[aria-expanded="true"] .open-close-icon:before {
    content: "\f077" !important;
}

#header-menu a[data-toggle="collapse"] .open-close-icon:before {
    content: "\f078";
}


/*
 *Footer Styles.
 */
.x-root > .site > .x-container {
    min-height: calc(100vh - 348px - 5.5em);
}
footer.x-colophon.bottom {
    padding: 0;
}
footer.x-colophon.bottom .x-colophon-content {
    margin: 0;
    letter-spacing: 0;
}
.app-footer {
    font-family: guidRegular;
    display: flex;
    flex-direction: column;
    background: #707070;
    justify: content center;
    align-items: center;
    list-style: none;
    padding: 40px 0;
    color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 990px) {
    .app-footer {
        font-size: 22px;
    }
}

.app-footer .approval-msg {
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .app-footer .approval-msg {
        padding: 20px 5px 10px 5px;
    }
}

.app-footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 990px) {
    .app-footer ul.site-links {
        flex-direction: column;
    }
}

.app-footer ul.corporate-links {
    margin-bottom: 0px !important;
}

@media screen and (max-width: 990px) {
    .app-footer ul.corporate-links {
        flex-direction: column;
        padding: 10px 0px;
    }
}

.app-footer ul li {
    padding: 0 10px;
    color: #fff;
    text-align: center;
}

.app-footer ul .media-icon {
    font-size: 25px;
    color: #fff;
}

.app-footer ul .site-link {
    text-transform: uppercase;
}

.app-footer ul .slash {
    color: #fff;
}

@media screen and (max-width: 990px) {
    .app-footer ul .slash {
        display: none;
    }
}

.app-footer ul a {
    text-decoration: none;
    color: #fff;
}

/*
  * Mobile Styles.
  */
@media screen and (max-width: 1200px) {
    #header-menu {
        align-items: flex-end;
    }

    #header-menu .dropdown .drop-item {
        padding: 10px 12px !important;
    }

    #header-menu .dropdown .drop-item .fa {
        display: none;
    }

    #header-menu .dropdown .divider {
        display: inline-block !important;
        color: #fff;
    }

    #header-menu .bismillah-logo {
        display: none !important;
    }

    #header-menu ul.dropdown.tier-2 {
        padding: 0% 10% 0% 25% !important;
    }
}

@media screen and (max-width: 990px) {
    #header-menu {
        align-items: center;
    }

    #header-menu .mobile-menu-wrapper {
        display: block;
    }

    #header-menu .dropdown {
        display: none !important;
    }

    #header-menu .header-main {
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #header-menu .dropdown-sub {
        margin-top: 20px !important;
    }
}

@media screen and (min-width: 1440px) {
    #header-menu ul.dropdown li.drop-item {
        padding: 60px 25px 10px 25px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1600px) {
    #header-menu .company-logo img {
        height: 55px;
    }

    #header-menu .bismillah-logo img {
        width: 160px;
    }

    #header-menu .bismillah-logo .company-phone {
        font-size: 20px;
    }

    #header-menu ul.dropdown li.drop-item {
        padding: 60px 30px 10px 30px;
        font-size: 20px;
    }

    #header-menu .dropdown-sub {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1920px) {
    #header-menu .company-logo img {
        height: 65px;
    }

    #header-menu .bismillah-logo img {
        width: 180px;
    }

    #header-menu .bismillah-logo .company-phone {
        font-size: 22px;
    }

    #header-menu ul.dropdown li.drop-item {
        padding: 60px 40px 10px 40px;
        font-size: 22px;
    }

    #header-menu .dropdown-sub {
        margin-top: 39px;
    }
}

/*modals*/
#header-menu .modal-dialog {
    width: 70%;
    top: 25%;
    max-height: 600px;
}

#header-menu .modal-dialog.contact-us {
    top: 10%;
}

@media screen and (max-width: 1350px) {
    #header-menu .modal-dialog.contact-us {
        width: 90%;
    }
}

#header-menu .modal-dialog.contact-us .modal-body .content {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@media screen and (max-width: 1100px) {
    #header-menu .modal-dialog.contact-us .modal-body .content {
        flex-direction: column;
        height: 100%;
    }
}

#header-menu .modal-dialog.contact-us .modal-body .content #contactUsSuccessMessage {
    display: none;
    background: #2c51a4;
}

#header-menu .modal-dialog.contact-us .modal-body .content #contactUsSuccessMessage.active {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 25px;
}

@media screen and (max-width: 1100px) {
    #header-menu .modal-dialog.contact-us .modal-body .content #contactUsSuccessMessage.active {
        width: 100%;
    }
}

#header-menu .modal-dialog.contact-us .modal-body .content #contactUsSuccessMessage.active .app-circle {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

#header-menu .modal-dialog.contact-us .modal-body .content #contactUsSuccessMessage.active .app-circle .fa {
    color: #2c51a4;
    font-size: 55px;
}

#header-menu .modal-dialog.contact-us .modal-body .content .desc-text.contactUs-error {
    display: none;
    color: #f00;
}

#header-menu .modal-dialog.contact-us .modal-body .content .desc-text.contactUs-error.active {
    display: block;
}

#header-menu .modal-dialog.contact-us .modal-body .content .info-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

#header-menu .modal-dialog.contact-us .modal-body .content .info-content .title.three {
    letter-spacing: 2px;
}

#header-menu .modal-dialog.contact-us .modal-body .content .form-content {
    height: auto;
    display: flex;
    width: 60%;
    padding: 20px;
    background: #2c51a4;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    #header-menu .modal-dialog.contact-us .modal-body .content .form-content {
        width: 100%;
    }
}

#header-menu .modal-dialog.contact-us .modal-body .content .form-content.inactive {
    display: none;
}

#header-menu .modal-dialog.contact-us .modal-body .content .form-content .title {
    color: #fff;
}

#header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm input,
#header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm select,
#header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm textarea {
    margin: 10px 0px;
    padding: 10px;
}

@media screen and (max-width: 990px) {
    #header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm input,
    #header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm select,
    #header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm textarea {
        font-size: 22px;
    }
}

#header-menu .modal-dialog.contact-us .modal-body .content .form-content #contactUsForm .main-button {
    margin: 20px auto;
}

#header-menu .modal-dialog.contact-us .desc-text {
    padding: 10px 0px;
    text-align: left;
}

#header-menu .modal-dialog.contact-us .desc-text a {
    color: #2c51a4;
}

#header-menu .modal-dialog.contact-us .desc-text a:hover,
#header-menu .modal-dialog.contact-us .desc-text a:active,
#header-menu .modal-dialog.contact-us .desc-text a:focus,
#header-menu .modal-dialog.contact-us .desc-text a:visited {
    text-decoration: none;
}

#header-menu .modal-dialog.schedule-consultation,
#header-menu .modal-dialog.list-your-home {
    top: 2%;
    width: 600px;
}

#header-menu .modal-dialog.schedule-consultation .content.inactive,
#header-menu .modal-dialog.list-your-home .content.inactive {
    display: none;
}

#header-menu .modal-dialog.schedule-consultation .desc-text,
#header-menu .modal-dialog.list-your-home .desc-text {
    text-align: center;
}

#header-menu .modal-dialog.schedule-consultation .desc-text.schedule-error,
#header-menu .modal-dialog.list-your-home .desc-text.schedule-error,
#header-menu .modal-dialog.schedule-consultation .desc-text.list-your-home-error,
#header-menu .modal-dialog.list-your-home .desc-text.list-your-home-error {
    display: none;
    color: #f00;
}

#header-menu .modal-dialog.schedule-consultation .desc-text.schedule-error.active,
#header-menu .modal-dialog.list-your-home .desc-text.schedule-error.active,
#header-menu .modal-dialog.schedule-consultation .desc-text.list-your-home-error.active,
#header-menu .modal-dialog.list-your-home .desc-text.list-your-home-error.active {
    display: block;
}

#header-menu .modal-dialog.schedule-consultation form,
#header-menu .modal-dialog.list-your-home form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header-menu .modal-dialog.schedule-consultation form input,
#header-menu .modal-dialog.list-your-home form input,
#header-menu .modal-dialog.schedule-consultation form select,
#header-menu .modal-dialog.list-your-home form select {
    margin: 10px 0px;
    padding: 10px;
}

@media screen and (max-width: 990px) {
    #header-menu .modal-dialog.schedule-consultation form input,
    #header-menu .modal-dialog.list-your-home form input,
    #header-menu .modal-dialog.schedule-consultation form select,
    #header-menu .modal-dialog.list-your-home form select {
        font-size: 22px;
    }
}

#header-menu .modal-dialog.schedule-consultation form .main-button,
#header-menu .modal-dialog.list-your-home form .main-button {
    margin: 20px auto;
}

#header-menu .modal-dialog .modal-content {
    border-radius: 0px;
    border: 2px solid #f2cc00;
}

#header-menu .modal-dialog .modal-content.full {
    height: 100%;
}

@media screen and (max-width: 990px) {
    #header-menu .modal-dialog .modal-content {
        height: 100%;
    }
}

#header-menu .modal-dialog .modal-content .modal-body {
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
}

#header-menu .modal-dialog .modal-content .modal-body .close {
    position: absolute;
    right: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: 100;
    opacity: 1;
    color: #2c51a4;
    line-height: 0.5;
}

#header-menu .modal-dialog .modal-content .modal-body .close:focus {
    outline: none;
}

#header-menu .modal-dialog .modal-content .modal-body .content {
    padding: 35px 40px;
    width: 100%;
}

#header-menu .modal-dialog .modal-content .modal-body .content.contactUs {
    padding: 0px;
}

#header-menu .modal-dialog .modal-content .modal-body .content .title {
    margin-top: 0px;
    font-family: guidLight;
    letter-spacing: 0px;
}

#header-menu .modal-dialog .modal-content .modal-body .content .desc-text .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
}

@media screen and (max-width: 990px) {
    #header-menu .modal-dialog .modal-content .modal-body .content .desc-text .steps {
        flex-direction: column;
    }
}

#header-menu .modal-dialog .modal-content .modal-body .content .desc-text .steps .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

#header-menu .modal-dialog .modal-content .modal-body .content .desc-text .steps .step .app-circle {
    margin-right: 20px;
    padding: 15px;
}

#header-menu .modal-dialog .modal-content .modal-body .content .desc-text .steps .step .fa {
    color: #2c51a4;
    font-size: 25px;
}

#header-menu .modal-dialog .modal-content .modal-body .image {
    width: 400px;
    height: 100%;
}

#header-menu .modal-dialog .modal-content .modal-body .image .modal-image {
    max-width: 100%;
    height: 100%;
}

#header-menu .blue-modal .modal-content {
    background: #2c51a4;
}

#header-menu .blue-modal .modal-content .title,
#header-menu .blue-modal .modal-content .sub-heading,
#header-menu .blue-modal .modal-content .desc-text {
    color: #fff;
}

@media screen and (max-width: 1200px) {
    #header-menu .modal-body .main-heading.left {
        align-items: center !important;
        text-align: center;
    }

    #header-menu .modal-body .image {
        display: none;
    }

    #header-menu .modal-body .image .modal-image {
        display: none;
    }
}
.modal-dialog .modal-content .modal-spinner {
    align-items: center;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.modal-dialog .modal-content .modal-spinner .spinner {
    animation: spin 2s linear infinite;
    border: 16px solid #e1e1e1;
    border-top: 16px solid #f2cc00;
    border-radius: 50%;
    display: block;
    height: 120px;
    width: 120px;
}

/*buttons*/
#header-menu .main-button {
    background: #2c51a4;
    padding: 12px 40px;
    font-family: guidBold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #fff;
    text-align: center;
    width: 100%;
    border: none;
}

#header-menu .main-button.flex-button {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #header-menu .main-button.flex-button {
        display: table;
        width: auto;
    }
}

@media screen and (max-width: 990px) {
    #header-menu .main-button {
        font-size: 24px;
    }
}

#header-menu .main-button .fa {
    padding: 0px 5px;
}

#header-menu .main-button .thin-text {
    font-weight: 300;
    font-size: 11px;
}

#header-menu .main-button:hover,
#header-menu .main-button:active,
#header-menu .main-button:focus {
    text-decoration: none;
    color: #fff;
}

#header-menu .main-button.gold {
    background: #f2cc00;
    color: #2c51a4;
}

#header-menu .main-button.gold.solid {
    background: #f2cc00;
    color: #2c51a4;
}

#header-menu .main-button.gold:hover,
#header-menu .main-button.gold:active,
#header-menu .main-button.gold:focus {
    color: #2c51a4;
}

/*headings*/
#header-menu .main-heading,
#header-menu .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#header-menu .main-heading.left,
#header-menu .content.left {
    text-align: left;
    align-items: start;
}

#header-menu .main-heading .desc,
#header-menu .content .desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    width: 100%;
}

#header-menu .desc-text {
    color: #636363;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 1.6em;
}

#header-menu .desc-text .list-step {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media screen and (max-width: 990px) {
    #header-menu .desc-text .list-step {
        align-items: center;
    }
}

#header-menu .desc-text .list-step .app-circle {
    background: #707070;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    padding: 7px;
    border: none;
}

@media screen and (max-width: 990px) {
    #header-menu .desc-text .list-step .app-circle {
        height: 15px;
        width: 15px;
        padding: 10px;
        margin-right: 20px;
    }
}

#header-menu .desc-text .list-step .app-circle .fa {
    color: #fff;
    font-size: 10px;
}

@media screen and (max-width: 990px) {
    #header-menu .desc-text .list-step .app-circle .fa {
        font-size: 14px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #header-menu .desc-text .list-step .app-circle .fa {
        margin-top: -5px;
    }
}

@media screen and (max-width: 990px) {
    #header-menu .desc-text {
        font-size: 30px;
        padding: 0px 20px;
    }
}

#header-menu .seperate-line {
    height: 4px;
    margin: 35px 0px;
    background: #f2cc00;
    width: 80px;
}

#header-menu .seperate-line.sub {
    margin: 20px 0px;
}

#header-menu .sub-text {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2c51a4;
}

#header-menu .sub-text.white {
    color: #fff;
}

@media screen and (max-width: 990px) {
    #header-menu .sub-text {
        font-size: 30px;
    }
}

#header-menu .sub-text .thin-subtext {
    font-weight: 400;
}

#header-menu .title {
    font-size: 36px;
    font-weight: 400;
    color: #2c51a4;
    margin-top: 40px;
    margin-bottom: 0px;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (max-width: 990px) {
    #header-menu .title {
        font-size: 48px;
    }
}

#header-menu .title.two {
    font-size: 22px;
    color: #636363;
}

#header-menu .title.three {
    margin: 10px 0px 0px 0px;
    font-size: 22px;
    color: #2c51a4;
}

#header-menu .title.three.white {
    color: #fff;
}

@media screen and (max-width: 990px) {
    #header-menu .title.three {
        font-size: 34px;
    }
}

#header-menu .title.four {
    font-size: 16px;
    margin: 10px 0px;
}

@media screen and (max-width: 990px) {
    #header-menu .title.four {
        font-size: 24px;
    }
}

#header-menu .title.five {
    font-size: 14px;
    margin: 10px 0px;
}

@media screen and (max-width: 990px) {
    #header-menu .title.five {
        font-size: 22px;
    }
}
/* Webinar modal dialog styles */

#webinarModal .modal-dialog {
	 width: 70%;
	 top: 25%;
	 max-height: 600px;
}
 #webinarModal .modal-dialog.webinar-banner {
	 color: #fff;
	 top: 15%;
	 width: 600px;
}
@media screen and (max-width: 990px) {
  #webinarModal .modal-dialog.webinar-banner,
  #header-menu .modal-dialog.schedule-consultation {
    width: 95%;
 }
}
 #webinarModal .modal-dialog.webinar-banner h3 {
	 width: 100%;
}
 @media screen and (max-width: 990px) {
	 #webinarModal .modal-dialog.webinar-banner h3 {
		 font-size: 30px;
	}
}
 #webinarModal .modal-dialog.webinar-banner #webinarModalMainText {
	 margin-top: 35px;
}
 #webinarModal .modal-dialog.webinar-banner .close-icon {
	 font-size: 30px;
	 right: 0;
	 position: absolute;
	 cursor: pointer;
	 top: -2%;
	 padding: 5px;
}
 @media screen and (max-width: 990px) {
	 #webinarModal .modal-dialog.webinar-banner .close-icon {
		 font-size: 50px;
	}
}
 #webinarModal .modal-dialog.webinar-banner .app-circle {
	 position: absolute;
	 left: 40%;
	 top: -60px;
	 width: 120px;
	 height: 120px;
	 color: #2c51a4;
}
 #webinarModal .modal-dialog.webinar-banner .app-circle .fa-laptop {
	 font-size: 60px;
	 position: relative;
}
 #webinarModal .modal-dialog.webinar-banner .app-circle .fa-laptop .fa-play {
	 font-size: 15px;
	 position: absolute;
	 top: 30%;
	 left: 45%;
}
#webinarModal .modal-dialog.webinar-banner .main-button {
     margin: 30px 0px;
     width: 85%;
     font-weight: normal;
     border-radius: 0px;
     text-shadow: unset;
     box-shadow: none;
}
 #webinarModal .modal-dialog.webinar-banner .main-button:hover,
 #webinarModal .modal-dialog.webinar-banner .main-button:active,
 #webinarModal .modal-dialog.webinar-banner .main-button:focus {
     box-shadow: none;
}
 #webinarModal .modal-dialog.webinar-banner .countdown {
	 display: flex;
	 justify-content: center;
}
 #webinarModal .modal-dialog.webinar-banner .countdown .time-tick {
	 padding-top: 15px;
	 font-size: 50px;
}
 #webinarModal .modal-dialog.webinar-banner .countdown .time-spot {
	 display: flex;
	 flex-direction: column;
	 padding: 10px 25px;
}
 #webinarModal .modal-dialog.webinar-banner .countdown .time-spot .time-num {
	 font-size: 60px;
	 font-weight: bold;
}
 #webinarModal .modal-dialog.webinar-banner .countdown .time-spot .time-title {
	 font-size: 16px;
}

/*misc*/
#header-menu .bold {
  font-weight: 600;
}
#header-menu .golden {
  color: #f2cc00 !important;
}

/*transitions*/
@-moz-keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
