/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
#header-menu {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
#header-menu article,
#header-menu aside,
#header-menu details,
#header-menu figcaption,
#header-menu figure,
#header-menu footer,
#header-menu header,
#header-menu hgroup,
#header-menu main,
#header-menu menu,
#header-menu nav,
#header-menu section,
#header-menu summary {
  display: block;
}
#header-menu audio,
#header-menu canvas,
#header-menu progress,
#header-menu video {
  display: inline-block;
  vertical-align: baseline;
}
#header-menu audio:not([controls]) {
  display: none;
  height: 0;
}
#header-menu [hidden],
#header-menu template {
  display: none;
}
#header-menu a {
  background-color: transparent;
}
#header-menu a:active,
#header-menu a:hover {
  outline: 0;
}
#header-menu abbr[title] {
  border-bottom: 1px dotted;
}
#header-menu b,
#header-menu strong {
  font-weight: bold;
}
#header-menu dfn {
  font-style: italic;
}
#header-menu h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#header-menu mark {
  background: #ff0;
  color: #000;
}
#header-menu small {
  font-size: 80%;
}
#header-menu sub,
#header-menu sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#header-menu sup {
  top: -0.5em;
}
#header-menu sub {
  bottom: -0.25em;
}
#header-menu img {
  border: 0;
}
#header-menu svg:not(:root) {
  overflow: hidden;
}
#header-menu figure {
  margin: 1em 40px;
}
#header-menu hr {
  box-sizing: content-box;
  height: 0;
}
#header-menu pre {
  overflow: auto;
}
#header-menu code,
#header-menu kbd,
#header-menu pre,
#header-menu samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#header-menu button,
#header-menu input,
#header-menu optgroup,
#header-menu select,
#header-menu textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#header-menu button {
  overflow: visible;
}
#header-menu button,
#header-menu select {
  text-transform: none;
}
#header-menu button,
#header-menu input[type="button"],
#header-menu input[type="reset"],
#header-menu input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#header-menu button[disabled],
#header-menu input[disabled] {
  cursor: default;
}
#header-menu button::-moz-focus-inner,
#header-menu input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#header-menu input {
  line-height: normal;
}
#header-menu input[type="checkbox"],
#header-menu input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#header-menu input[type="number"]::-webkit-inner-spin-button,
#header-menu input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#header-menu input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
#header-menu input[type="search"]::-webkit-search-cancel-button,
#header-menu input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#header-menu fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#header-menu legend {
  border: 0;
  padding: 0;
}
#header-menu textarea {
  overflow: auto;
}
#header-menu optgroup {
  font-weight: bold;
}
#header-menu table {
  border-collapse: collapse;
  border-spacing: 0;
}
#header-menu td,
#header-menu th {
  padding: 0;
}
#header-menu * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header-menu *:before,
#header-menu *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header-menu {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#header-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
#header-menu input,
#header-menu button,
#header-menu select,
#header-menu textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#header-menu a {
  color: #337ab7;
  text-decoration: none;
}
#header-menu a:hover,
#header-menu a:focus {
  color: #23527c;
  text-decoration: underline;
}
#header-menu a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#header-menu figure {
  margin: 0;
}
#header-menu img {
  vertical-align: middle;
}
#header-menu .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
#header-menu .img-rounded {
  border-radius: 6px;
}
#header-menu .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
#header-menu .img-circle {
  border-radius: 50%;
}
#header-menu hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
#header-menu .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#header-menu .sr-only-focusable:active,
#header-menu .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
#header-menu [role="button"] {
  cursor: pointer;
}
#header-menu h1,
#header-menu h2,
#header-menu h3,
#header-menu h4,
#header-menu h5,
#header-menu h6,
#header-menu .h1,
#header-menu .h2,
#header-menu .h3,
#header-menu .h4,
#header-menu .h5,
#header-menu .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
#header-menu h1 small,
#header-menu h2 small,
#header-menu h3 small,
#header-menu h4 small,
#header-menu h5 small,
#header-menu h6 small,
#header-menu .h1 small,
#header-menu .h2 small,
#header-menu .h3 small,
#header-menu .h4 small,
#header-menu .h5 small,
#header-menu .h6 small,
#header-menu h1 .small,
#header-menu h2 .small,
#header-menu h3 .small,
#header-menu h4 .small,
#header-menu h5 .small,
#header-menu h6 .small,
#header-menu .h1 .small,
#header-menu .h2 .small,
#header-menu .h3 .small,
#header-menu .h4 .small,
#header-menu .h5 .small,
#header-menu .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
#header-menu h1,
#header-menu .h1,
#header-menu h2,
#header-menu .h2,
#header-menu h3,
#header-menu .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#header-menu h1 small,
#header-menu .h1 small,
#header-menu h2 small,
#header-menu .h2 small,
#header-menu h3 small,
#header-menu .h3 small,
#header-menu h1 .small,
#header-menu .h1 .small,
#header-menu h2 .small,
#header-menu .h2 .small,
#header-menu h3 .small,
#header-menu .h3 .small {
  font-size: 65%;
}
#header-menu h4,
#header-menu .h4,
#header-menu h5,
#header-menu .h5,
#header-menu h6,
#header-menu .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#header-menu h4 small,
#header-menu .h4 small,
#header-menu h5 small,
#header-menu .h5 small,
#header-menu h6 small,
#header-menu .h6 small,
#header-menu h4 .small,
#header-menu .h4 .small,
#header-menu h5 .small,
#header-menu .h5 .small,
#header-menu h6 .small,
#header-menu .h6 .small {
  font-size: 75%;
}
#header-menu h1,
#header-menu .h1 {
  font-size: 36px;
}
#header-menu h2,
#header-menu .h2 {
  font-size: 30px;
}
#header-menu h3,
#header-menu .h3 {
  font-size: 24px;
}
#header-menu h4,
#header-menu .h4 {
  font-size: 18px;
}
#header-menu h5,
#header-menu .h5 {
  font-size: 14px;
}
#header-menu h6,
#header-menu .h6 {
  font-size: 12px;
}
#header-menu p {
  margin: 0 0 10px;
}
#header-menu .lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  #header-menu .lead {
    font-size: 21px;
  }
}
#header-menu small,
#header-menu .small {
  font-size: 85%;
}
#header-menu mark,
#header-menu .mark {
  background-color: #fcf8e3;
  padding: .2em;
}
#header-menu .text-left {
  text-align: left;
}
#header-menu .text-right {
  text-align: right;
}
#header-menu .text-center {
  text-align: center;
}
#header-menu .text-justify {
  text-align: justify;
}
#header-menu .text-nowrap {
  white-space: nowrap;
}
#header-menu .text-lowercase {
  text-transform: lowercase;
}
#header-menu .text-uppercase {
  text-transform: uppercase;
}
#header-menu .text-capitalize {
  text-transform: capitalize;
}
#header-menu .text-muted {
  color: #777777;
}
#header-menu .text-primary {
  color: #337ab7;
}
#header-menu a .text-primary:hover,
#header-menu a .text-primary:focus {
  color: #286090;
}
#header-menu .text-success {
  color: #3c763d;
}
#header-menu a .text-success:hover,
#header-menu a .text-success:focus {
  color: #2b542c;
}
#header-menu .text-info {
  color: #31708f;
}
#header-menu a .text-info:hover,
#header-menu a .text-info:focus {
  color: #245269;
}
#header-menu .text-warning {
  color: #8a6d3b;
}
#header-menu a .text-warning:hover,
#header-menu a .text-warning:focus {
  color: #66512c;
}
#header-menu .text-danger {
  color: #a94442;
}
#header-menu a .text-danger:hover,
#header-menu a .text-danger:focus {
  color: #843534;
}
#header-menu .bg-primary {
  color: #fff;
  background-color: #337ab7;
}
#header-menu a .bg-primary:hover,
#header-menu a .bg-primary:focus {
  background-color: #286090;
}
#header-menu .bg-success {
  background-color: #dff0d8;
}
#header-menu a .bg-success:hover,
#header-menu a .bg-success:focus {
  background-color: #c1e2b3;
}
#header-menu .bg-info {
  background-color: #d9edf7;
}
#header-menu a .bg-info:hover,
#header-menu a .bg-info:focus {
  background-color: #afd9ee;
}
#header-menu .bg-warning {
  background-color: #fcf8e3;
}
#header-menu a .bg-warning:hover,
#header-menu a .bg-warning:focus {
  background-color: #f7ecb5;
}
#header-menu .bg-danger {
  background-color: #f2dede;
}
#header-menu a .bg-danger:hover,
#header-menu a .bg-danger:focus {
  background-color: #e4b9b9;
}
#header-menu .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
#header-menu ul,
#header-menu ol {
  margin-top: 0;
  margin-bottom: 10px;
}
#header-menu ul ul,
#header-menu ol ul,
#header-menu ul ol,
#header-menu ol ol {
  margin-bottom: 0;
}
#header-menu .list-unstyled {
  padding-left: 0;
  list-style: none;
}
#header-menu .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
#header-menu .list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
#header-menu dl {
  margin-top: 0;
  margin-bottom: 20px;
}
#header-menu dt,
#header-menu dd {
  line-height: 1.42857143;
}
#header-menu dt {
  font-weight: bold;
}
#header-menu dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  #header-menu .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #header-menu .dl-horizontal dd {
    margin-left: 180px;
  }
}
#header-menu abbr[title],
#header-menu abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
#header-menu .initialism {
  font-size: 90%;
  text-transform: uppercase;
}
#header-menu blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
#header-menu blockquote p:last-child,
#header-menu blockquote ul:last-child,
#header-menu blockquote ol:last-child {
  margin-bottom: 0;
}
#header-menu blockquote footer,
#header-menu blockquote small,
#header-menu blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
#header-menu blockquote footer:before,
#header-menu blockquote small:before,
#header-menu blockquote .small:before {
  content: '\2014 \00A0';
}
#header-menu .blockquote-reverse,
#header-menu blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
#header-menu .blockquote-reverse footer:before,
#header-menu blockquote.pull-right footer:before,
#header-menu .blockquote-reverse small:before,
#header-menu blockquote.pull-right small:before,
#header-menu .blockquote-reverse .small:before,
#header-menu blockquote.pull-right .small:before {
  content: '';
}
#header-menu .blockquote-reverse footer:after,
#header-menu blockquote.pull-right footer:after,
#header-menu .blockquote-reverse small:after,
#header-menu blockquote.pull-right small:after,
#header-menu .blockquote-reverse .small:after,
#header-menu blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
#header-menu address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
#header-menu code,
#header-menu kbd,
#header-menu pre,
#header-menu samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#header-menu code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
#header-menu kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#header-menu kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}
#header-menu pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#header-menu pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
#header-menu fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
#header-menu legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
#header-menu label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
#header-menu input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header-menu input[type="radio"],
#header-menu input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
#header-menu input[type="file"] {
  display: block;
}
#header-menu input[type="range"] {
  display: block;
  width: 100%;
}
#header-menu select[multiple],
#header-menu select[size] {
  height: auto;
}
#header-menu input[type="file"]:focus,
#header-menu input[type="radio"]:focus,
#header-menu input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#header-menu output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
#header-menu input[type="search"] {
  -webkit-appearance: none;
}
#header-menu .form-group {
  margin-bottom: 15px;
}
#header-menu .radio,
#header-menu .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#header-menu .radio label,
#header-menu .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
#header-menu .radio input[type="radio"],
#header-menu .radio-inline input[type="radio"],
#header-menu .checkbox input[type="checkbox"],
#header-menu .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
#header-menu .radio + .radio,
#header-menu .checkbox + .checkbox {
  margin-top: -5px;
}
#header-menu .radio-inline,
#header-menu .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
#header-menu .radio-inline + .radio-inline,
#header-menu .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
#header-menu input[type="radio"][disabled],
#header-menu input[type="checkbox"][disabled],
#header-menu input[type="radio"].disabled,
#header-menu input[type="checkbox"].disabled,
#header-menu fieldset[disabled] input[type="radio"],
#header-menu fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
#header-menu .radio-inline.disabled,
#header-menu .checkbox-inline.disabled,
#header-menu fieldset[disabled] .radio-inline,
#header-menu fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
#header-menu .radio.disabled label,
#header-menu .checkbox.disabled label,
#header-menu fieldset[disabled] .radio label,
#header-menu fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
#header-menu .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
#header-menu .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
#header-menu .fade.in {
  opacity: 1;
}
#header-menu .collapse {
  display: none;
}
#header-menu .collapse.in {
  display: block;
}
#header-menu tr .collapse.in {
  display: table-row;
}
#header-menu tbody .collapse.in {
  display: table-row-group;
}
#header-menu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#header-menu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#header-menu .dropup,
#header-menu .dropdown {
  position: relative;
}
#header-menu .dropdown-toggle:focus {
  outline: 0;
}
#header-menu .list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
#header-menu .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
#header-menu .list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#header-menu .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#header-menu a.list-group-item,
#header-menu button.list-group-item {
  color: #555555;
}
#header-menu a.list-group-item .list-group-item-heading,
#header-menu button.list-group-item .list-group-item-heading {
  color: #333333;
}
#header-menu a.list-group-item:hover,
#header-menu button.list-group-item:hover,
#header-menu a.list-group-item:focus,
#header-menu button.list-group-item:focus {
  text-decoration: none;
  color: #555555;
  background-color: #f5f5f5;
}
#header-menu button.list-group-item {
  width: 100%;
  text-align: left;
}
#header-menu .list-group-item.disabled,
#header-menu .list-group-item.disabled:hover,
#header-menu .list-group-item.disabled:focus {
  background-color: #eeeeee;
  color: #777777;
  cursor: not-allowed;
}
#header-menu .list-group-item.disabled .list-group-item-heading,
#header-menu .list-group-item.disabled:hover .list-group-item-heading,
#header-menu .list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}
#header-menu .list-group-item.disabled .list-group-item-text,
#header-menu .list-group-item.disabled:hover .list-group-item-text,
#header-menu .list-group-item.disabled:focus .list-group-item-text {
  color: #777777;
}
#header-menu .list-group-item.active,
#header-menu .list-group-item.active:hover,
#header-menu .list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}
#header-menu .list-group-item.active .list-group-item-heading,
#header-menu .list-group-item.active:hover .list-group-item-heading,
#header-menu .list-group-item.active:focus .list-group-item-heading,
#header-menu .list-group-item.active .list-group-item-heading > small,
#header-menu .list-group-item.active:hover .list-group-item-heading > small,
#header-menu .list-group-item.active:focus .list-group-item-heading > small,
#header-menu .list-group-item.active .list-group-item-heading > .small,
#header-menu .list-group-item.active:hover .list-group-item-heading > .small,
#header-menu .list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}
#header-menu .list-group-item.active .list-group-item-text,
#header-menu .list-group-item.active:hover .list-group-item-text,
#header-menu .list-group-item.active:focus .list-group-item-text {
  color: #c7ddef;
}
#header-menu .list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}
#header-menu a .list-group-item-success,
#header-menu button .list-group-item-success {
  color: #3c763d;
}
#header-menu a .list-group-item-success .list-group-item-heading,
#header-menu button .list-group-item-success .list-group-item-heading {
  color: inherit;
}
#header-menu a .list-group-item-success:hover,
#header-menu button .list-group-item-success:hover,
#header-menu a .list-group-item-success:focus,
#header-menu button .list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
#header-menu a .list-group-item-success.active,
#header-menu button .list-group-item-success.active,
#header-menu a .list-group-item-success.active:hover,
#header-menu button .list-group-item-success.active:hover,
#header-menu a .list-group-item-success.active:focus,
#header-menu button .list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
#header-menu .list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
#header-menu a .list-group-item-info,
#header-menu button .list-group-item-info {
  color: #31708f;
}
#header-menu a .list-group-item-info .list-group-item-heading,
#header-menu button .list-group-item-info .list-group-item-heading {
  color: inherit;
}
#header-menu a .list-group-item-info:hover,
#header-menu button .list-group-item-info:hover,
#header-menu a .list-group-item-info:focus,
#header-menu button .list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
#header-menu a .list-group-item-info.active,
#header-menu button .list-group-item-info.active,
#header-menu a .list-group-item-info.active:hover,
#header-menu button .list-group-item-info.active:hover,
#header-menu a .list-group-item-info.active:focus,
#header-menu button .list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
#header-menu .list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
#header-menu a .list-group-item-warning,
#header-menu button .list-group-item-warning {
  color: #8a6d3b;
}
#header-menu a .list-group-item-warning .list-group-item-heading,
#header-menu button .list-group-item-warning .list-group-item-heading {
  color: inherit;
}
#header-menu a .list-group-item-warning:hover,
#header-menu button .list-group-item-warning:hover,
#header-menu a .list-group-item-warning:focus,
#header-menu button .list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
#header-menu a .list-group-item-warning.active,
#header-menu button .list-group-item-warning.active,
#header-menu a .list-group-item-warning.active:hover,
#header-menu button .list-group-item-warning.active:hover,
#header-menu a .list-group-item-warning.active:focus,
#header-menu button .list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
#header-menu .list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
#header-menu a .list-group-item-danger,
#header-menu button .list-group-item-danger {
  color: #a94442;
}
#header-menu a .list-group-item-danger .list-group-item-heading,
#header-menu button .list-group-item-danger .list-group-item-heading {
  color: inherit;
}
#header-menu a .list-group-item-danger:hover,
#header-menu button .list-group-item-danger:hover,
#header-menu a .list-group-item-danger:focus,
#header-menu button .list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
#header-menu a .list-group-item-danger.active,
#header-menu button .list-group-item-danger.active,
#header-menu a .list-group-item-danger.active:hover,
#header-menu button .list-group-item-danger.active:hover,
#header-menu a .list-group-item-danger.active:focus,
#header-menu button .list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
#header-menu .list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
#header-menu .list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}
#header-menu .modal-open {
  overflow: hidden;
}
#header-menu .modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
#header-menu .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
#header-menu .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#header-menu .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
#header-menu .modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
#header-menu .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
#header-menu .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
#header-menu .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
#header-menu .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#header-menu .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#header-menu .modal-header .close {
  margin-top: -2px;
}
#header-menu .modal-title {
  margin: 0;
  line-height: 1.42857143;
}
#header-menu .modal-body {
  position: relative;
  padding: 15px;
}
#header-menu .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
#header-menu .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
#header-menu .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
#header-menu .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
#header-menu .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  #header-menu .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  #header-menu .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  #header-menu .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #header-menu .modal-lg {
    width: 900px;
  }
}
#header-menu .clearfix:before,
#header-menu .clearfix:after,
#header-menu .dl-horizontal dd:before,
#header-menu .dl-horizontal dd:after,
#header-menu .container:before,
#header-menu .container:after,
#header-menu .container-fluid:before,
#header-menu .container-fluid:after,
#header-menu .row:before,
#header-menu .row:after,
#header-menu .form-horizontal .form-group:before,
#header-menu .form-horizontal .form-group:after,
#header-menu .btn-toolbar:before,
#header-menu .btn-toolbar:after,
#header-menu .btn-group-vertical > .btn-group:before,
#header-menu .btn-group-vertical > .btn-group:after,
#header-menu .nav:before,
#header-menu .nav:after,
#header-menu .navbar:before,
#header-menu .navbar:after,
#header-menu .navbar-header:before,
#header-menu .navbar-header:after,
#header-menu .navbar-collapse:before,
#header-menu .navbar-collapse:after,
#header-menu .pager:before,
#header-menu .pager:after,
#header-menu .panel-body:before,
#header-menu .panel-body:after,
#header-menu .modal-header:before,
#header-menu .modal-header:after,
#header-menu .modal-footer:before,
#header-menu .modal-footer:after {
  content: " ";
  display: table;
}
#header-menu .clearfix:after,
#header-menu .dl-horizontal dd:after,
#header-menu .container:after,
#header-menu .container-fluid:after,
#header-menu .row:after,
#header-menu .form-horizontal .form-group:after,
#header-menu .btn-toolbar:after,
#header-menu .btn-group-vertical > .btn-group:after,
#header-menu .nav:after,
#header-menu .navbar:after,
#header-menu .navbar-header:after,
#header-menu .navbar-collapse:after,
#header-menu .pager:after,
#header-menu .panel-body:after,
#header-menu .modal-header:after,
#header-menu .modal-footer:after {
  clear: both;
}
#header-menu .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#header-menu .pull-right {
  float: right !important;
}
#header-menu .pull-left {
  float: left !important;
}
#header-menu .hide {
  display: none !important;
}
#header-menu .show {
  display: block !important;
}
#header-menu .invisible {
  visibility: hidden;
}
#header-menu .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
#header-menu .hidden {
  display: none !important;
}
#header-menu .affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
#header-menu .visible-xs,
#header-menu .visible-sm,
#header-menu .visible-md,
#header-menu .visible-lg {
  display: none !important;
}
#header-menu .visible-xs-block,
#header-menu .visible-xs-inline,
#header-menu .visible-xs-inline-block,
#header-menu .visible-sm-block,
#header-menu .visible-sm-inline,
#header-menu .visible-sm-inline-block,
#header-menu .visible-md-block,
#header-menu .visible-md-inline,
#header-menu .visible-md-inline-block,
#header-menu .visible-lg-block,
#header-menu .visible-lg-inline,
#header-menu .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  #header-menu .visible-xs {
    display: block !important;
  }
  #header-menu table .visible-xs {
    display: table !important;
  }
  #header-menu tr .visible-xs {
    display: table-row !important;
  }
  #header-menu th .visible-xs,
  #header-menu td .visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  #header-menu .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  #header-menu .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  #header-menu .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-menu .visible-sm {
    display: block !important;
  }
  #header-menu table .visible-sm {
    display: table !important;
  }
  #header-menu tr .visible-sm {
    display: table-row !important;
  }
  #header-menu th .visible-sm,
  #header-menu td .visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-menu .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-menu .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-menu .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #header-menu .visible-md {
    display: block !important;
  }
  #header-menu table .visible-md {
    display: table !important;
  }
  #header-menu tr .visible-md {
    display: table-row !important;
  }
  #header-menu th .visible-md,
  #header-menu td .visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #header-menu .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #header-menu .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #header-menu .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  #header-menu .visible-lg {
    display: block !important;
  }
  #header-menu table .visible-lg {
    display: table !important;
  }
  #header-menu tr .visible-lg {
    display: table-row !important;
  }
  #header-menu th .visible-lg,
  #header-menu td .visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  #header-menu .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  #header-menu .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  #header-menu .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  #header-menu .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-menu .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #header-menu .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  #header-menu .hidden-lg {
    display: none !important;
  }
}
#header-menu .visible-print {
  display: none !important;
}
@media print {
  #header-menu .visible-print {
    display: block !important;
  }
  #header-menu table .visible-print {
    display: table !important;
  }
  #header-menu tr .visible-print {
    display: table-row !important;
  }
  #header-menu th .visible-print,
  #header-menu td .visible-print {
    display: table-cell !important;
  }
}
#header-menu .visible-print-block {
  display: none !important;
}
@media print {
  #header-menu .visible-print-block {
    display: block !important;
  }
}
#header-menu .visible-print-inline {
  display: none !important;
}
@media print {
  #header-menu .visible-print-inline {
    display: inline !important;
  }
}
#header-menu .visible-print-inline-block {
  display: none !important;
}
@media print {
  #header-menu .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  #header-menu .hidden-print {
    display: none !important;
  }
}
