.container.error-page
  .desc-text
    &.no-margin
      margin-bottom 0px
    &.link-header
      margin-top 30px
  .sitemap-link
    color $mainBlue
    font-size 18px
    padding 5px 0px
    &:hover,&:active,&:focus
      text-decoration none
      cursor pointer
    @media screen and (max-width:990px)
      font-size 24px
