.accordion-split-content
  display flex
  flex-direction row
  width 100%
  align-items baseline
  &.full
    .accordion-content
      flex-basis auto
      width 100%
  @media screen and (max-width:990px)
    flex-direction column
  .description-content
    @media screen and (max-width:990px)
      flex-basis auto
      width 100%
    width 50%
    flex-basis 40%
    padding 20px 20px 40px 20px
    .main-heading
      text-align left
      align-items start
      @media screen and (max-width:990px)
        text-align center
        align-items center
    .app-circle
      height 75px
      width 75px
      @media screen and (max-width:990px)
        height 120px
        width 120px
      .fa
        color $mainBlue
        font-size 40px
        @media screen and (max-width:990px)
          font-size 65px
  .accordion-content
    @media screen and (max-width:990px)
      flex-basis auto
    flex-basis 60%
    width 100%
    padding 20px 20px 40px 20px
    .button-wrapper
      margin 25px 0px
      @media screen and (max-width:990px)
        text-align center
    .button-container
      margin-top 50px
    .accordion-item
      width 100%
      margin 10px 0px
      display flex
      align-items center
      background $lightGray
      &.inner
        .title.four
          padding 0px
          margin 5px 0px
      &:hover, &:active, &:focus
        text-decoration none
      &[data-toggle="collapse"]
        .expand-icon
          &:before
            content "\f138"
      &[aria-expanded="true"]
        .expand-icon
          &:before
            content "\f13a"
      .title.four
        padding 4px 20px 4px 0px
        letter-spacing 2px
        @media screen and (max-width:990px)
          padding 10px 20px 10px 0px
      .fa
        color $mainBlue
        padding 0px 10px 0px 20px
        @media screen and (max-width:990px)
          font-size 30px
    .text-content
      width 100%
      .text
        width 100%
        padding 10px 0px
        padding-left 20px
        .title.three
          padding-top 40px
        .seperate-line
          margin 20px 0px
          text-align left
        @media screen and (max-width:990px)
          .title.three
            text-align center
          .seperate-line
            margin 20px auto
      ul
        color $guidGolden
        font-size 16px
        @media screen and (max-width:990px)
          font-size 30px
        span.list-text
          color $textDarkGray
          @media screen and (max-width:990px)
            padding-bottom 20px
            font-size 30px
