.executive-info
  background $lightGray
  display flex
  flex-direction row
  justify-content center
  padding 50px 0px
  @media screen and (max-width:990px)
    flex-direction column
    align-items center
  .executive-card
    display flex
    flex-direction column
    border 2px solid $lightGray
    background #fff
    margin 20px
    padding 20px
    position relative
    width 500px
    @media screen and (max-width:990px)
      width 80%
      margin 20px 40px
      .desc-text
        padding 0px
    &.personal-info
      a
        text-decoration none
        &:active, &:visited, &:hover , &:focus
          text-decoration none
    &.register
      .title.three
        padding 20px 0px
        border-bottom 1px $lightGray
        text-align center
      .line
        flex-direction column
        padding 20px 0px
        border-bottom 1px solid $lightGray
        .title.five
          font-size 12px
          @media screen and (max-width:990px)
            font-size 18px
        .desc-text
          margin-bottom 5px
          &.email-error-message
            display none
            color red
            font-family $guidBold
            text-align center
            padding 5px 0px
            &.active
              display block
        input
          width 100%
          padding 5px 0px
        .button-container
          display flex
          flex-direction row
          width 100%
          flex-wrap wrap
          .main-button
            margin 10px
            width 45%
    .title.three
      letter-spacing 2px
    .app-circle
      position absolute
      width 100px
      height 100px
      top -70px
      align-self center
      position relative
      overflow hidden
      .fa
        font-size 50px
        color $mainBlue
      img
        right 0%
        top 0%
        width 100px
        position absolute
        border-radius 50%
      @media screen and (max-width:990px)
        width 150px
        height 150px
        top -90px
        img
          width 150px
        .fa
          font-size 60px
          color $mainBlue
    .name
      padding 0px 0px 20px 0px
      text-align center
      border-bottom 1px solid $lightGray
      margin-bottom 20px
      @media screen and (max-width:990px)
        padding 50px 0px 40px 0px
        margin-bottom 40px
    .line
      display flex
      flex-direction row
      align-items baseline
      &.no-border
        border-bottom none
      .fa
        color $mainBlue
        padding-right 10px
        font-size 16px
        @media screen and (max-width:990px)
          font-size 24px
          padding-right 25px
.customer-testimonials
  text-align center
  .main-heading
    padding-top 20px
    .title.three
      color $skyBlue
      letter-spacing 2px
  .testimonial-list
    .testimonial
      background #fff
      color $lightGray
      border 2px solid $lightGray
      margin-top 35px
      padding 0px 50px 20px 50px
      @media screen and (max-width:990px)
        margin 35px 60px
      .text-right
        align-self flex-end
        text-align right
        .desc-text
          text-align right
        .sub-text
          color $mainBlue
      .desc-text
        color $darkGray
        text-align justify
        white-space pre-wrap
        &.quote
          padding 50px 0px 20px 0px
      .icon
        border none
        background $skyBlue
        .fa
          color #fff
