.container.app-download
  .download-image-back
    background $lightGray
    height 400px
    display flex
    align-items center
    margin 50px 0px
    width 100%
    @media screen and (max-width:990px)
      margin 100px 0px
    .image-container.app-download-img
      background-image url('../images/appDownload/gios_app.png')
      background-size contain
      height 500px
  .download-image-container
    margin 50px auto 30px auto
.how-it-works
  &.app-download
    .realty-steps
      flex-wrap wrap
      align-items baseline
      .step
        width 300px
        @media screen and (max-width:990px)
          width 100%
