.main-app-slider
  margin 50px auto
  .slick-prev
  .slick-next
    &:before
      color $darkGray
  .item
    text-align center
    display flex
    justify-content center
    padding 0px 10px
    align-items stretch
    img
      height auto
      width 100%
