.container.awards
  width 100%
  >.main-heading
    margin-bottom 0px
  .awards-list-container
    display flex
    flex-direction row
    padding 0% 10%
    @media screen and (max-width:990px)
      flex-direction column
      padding 0% 5%
    .awards
      display flex
      justify-content space-between
      flex-direction column
      justify-content flex-start
      align-items center
      margin 40px 0px
      .text
        width 100%
        .title
          font-size 32px
          height 40px
          @media screen and (max-width:1560px)
            height 80px
        .desc-text
          width 80%
          padding 10px 0px 30px 0px
      .app-circle
        width 200px
        height 200px
        overflow hidden
        img
          width 160px
          height 160px
