.main-button
  background $mainBlue
  padding 12px 40px
  font-family guidBold
  text-decoration none
  text-transform uppercase
  cursor pointer
  font-size 16px
  font-weight 600
  letter-spacing 2.5px
  color #fff
  text-align center
  width 100%
  border none
  &.flex-button
    display flex
    flex-wrap wrap
    width fit-content
    flex-direction row
    justify-content center
    align-items center
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
      display table
      width auto
  @media screen and (max-width:990px)
    font-size 24px
  .fa
    padding 0px 5px
  .thin-text
    font-weight 300
    font-size 11px
  &:hover, &:active, &:focus
    text-decoration none
    color #fff
  &.gold
    background $guidGolden
    color $mainBlue
    &.solid
      background $guidGolden
      color $mainBlue
    &:hover, &:active, &:focus
      color $mainBlue
.split-input-button
  display flex
  flex-direction row
  input
    width 100px
    display flex
    align-items center
    text-align center
    height 30px
    @media screen and (max-width:990px)
      height 50px
      font-size 24px
      width 150px
  .button-box
    background $mainBlue
    color #fff
    padding 5px 15px
    cursor pointer
    width 75px
    display flex
    align-items center
    justify-content center
    height 30px
    @media screen and (max-width:990px)
      height 50px
