.container.ceo-message
  width 80%
  padding 0px 0px 50px 0px
.ceo-message
  display flex
  flex-direction column
  justify-content center
  align-items center
  .seperate-line
    margin 35px 0px 0px 0px
@media screen and (max-width:990px)
  .container.ceo-message
    width 100%
