.container.co-owner-model
  width 100%
  padding 0px
  .accordion-content
    padding 0px
    @media screen and (max-width:990px)
      padding 20px 20px 40px 20px
  .accordion-item
    display none
    @media screen and (max-width:990px)
      display flex
      margin 20px 0px 0px 0px
  .single-video-section
    background #fff
    @media screen and (max-width:990px)
      .desc-text
        padding 0px 20px
      .video-container
        width 100%
  .steps-container
    display flex
    flex-direction column
    align-items center
    background $mainBlue
    text-align center
    color #fff
    @media screen and (max-width:990px)
      display none
      margin-top 0px
      &.collapse
        display none
        &.in
          display flex
    >.desc-text
      color #fff
    .main-heading
      .title
        color $guidGolden
      .desc-text
        color #fff
    .connector-line
      border-top 1px solid $guidGolden
      height 1px
      margin-top 12%
      min-width 50px
      @media screen and (max-width:990px)
        display none
    .step-row
      display flex
      margin 20px 0px
      justify-content center
      @media screen and (max-width:990px)
        flex-direction column
      .step-item
          display flex
          flex-direction column
          align-items center
          max-width 550px
          .title
              color $guidGolden
              font-size 17px
              line-height 1.4
              margin 0 0 10px 0
              text-align center
              text-transform uppercase
              @media screen and (max-width:990px)
                font-size 30px
          .step-img
            height 180px
            border-radius 50%
            display flex
            background #fff
            width 195px
            align-items center
            justify-content center
            @media screen and (max-width:990px)
              height 260px
              width 275px
            img
              width 145px
              height auto
              @media screen and (max-width:990px)
                width 175px
          .content
            width 195px
            display flex
            flex-direction column
            @media screen and (max-width:990px)
              width 100%
            .desc
              color #fff
              font-size 15px
              line-height 1.5
              text-align center
              margin 0 0 40px 0
              padding 10px 0px
              @media screen and (max-width:990px)
                font-size 24px
@-moz-document url-prefix()
  .container.co-owner-model .steps-container .connector-line
    top 0%
    margin-top 32%
