.compare-table.wrapper
  margin-top 20px
  .table.compare-guidance
    background $mainBlue
    table-layout fixed
    color #fff
    text-align center
    tbody
      tr:nth-child(2n+2)
        td:nth-child(2n+1)
          background $mediumBlue
        td:nth-child(2n+2)
          background $lightGrayIcons
      tr
        &:first-child , &:last-child
          height 100px
          td
            vertical-align middle
        td:first-child
          color $guidGolden
          text-align left
          padding-left 20px
        td:nth-child(2), td:nth-child(4)
          background $lightGray
          color $textDarkerGray
        td
          font-size 16px
          border none
          img
            width 100px
