.container.ebooks
  padding 0px 20px
  width 75%
  @media screen and (max-width:990px)
    width 95%
  .ebook-list
    display flex
    flex-direction row
    justify-content center
    @media screen and (max-width:990px)
      flex-direction column
      justify-content center
      align-items center
      width 100%
    .split-content-card
      .image-container
        background-image url('../images/eBooks/ebook_buying_home_first_time.jpg');
        height 300px
        @media screen and (max-width:990px)
          height 500px
      .main-heading
        align-items flex-start
        text-align left
        @media screen and (max-width:990px)
          align-items center
          text-align center
          .desc-text
            padding 0px 20px
          .main-button
            margin-top 20px
      @media screen and (max-width:990px)
        width 100%
        margin 20px 60px
