.endorse-video-container
  display flex
  margin 20px 0px
  flex-wrap wrap
  justify-content center
  .video-container
    margin 20px
    min-width 280px
    max-width 340px
    @media screen and (max-width:990px)
      max-width 100%
      min-width 100%
