.container.estimation-calculators
  width 85%
  .text-content
    .main-button.result
      margin 30px auto
      display flex
      width fit-content
    .error-message
      color red
      display none
      &.active
        display block
    .result-box
      display none
      flex-direction column
      justify-content center
      animation-name divFadeIn
      animation-duration 2s
      &.refinanceResultWrapper
        flex-direction row
        @media screen and (max-width:1350px)
          flex-direction column
        .seperate-line
          width 100%
          background #fff
          margin 10px 0px
          height 2px
      &.active
        display flex
      .accordion-row
        display flex
        flex-direction row
        width 100%
        @media screen and (max-width:1500px)
          flex-direction column
        .accordion
          width 100%
          margin 0px 10px
          .accordion-item
            &[aria-expanded="true"]
              background $skyBlue
              color #fff
              .title, .fa
                color #fff
            .title
              padding-left 20px
            .number
              font-size 16px
              font-family guidBold
              @media screen and (max-width:990px)
                font-size 24px
              &#rentNetCostRenting,&#rentNetCostBuying
                padding-right 20px
          .accordion-box
            .details
              .empty-line
                padding 29px 0px
                border-bottom 1px solid $lightGray
              .line
                font-size 16px
                display flex
                flex-direction row
                align-items center
                justify-content space-between
                padding 6px
                border-bottom 1px solid $lightGray
                @media screen and (max-width:990px)
                  font-size 24px
      .bar-box
        padding 25px
        width 100%
        display flex
        flex-direction column
        .line
          display flex
          flex-direction row
          align-items center
          margin 10px
          @media screen and (max-width:990px)
            font-size 24px
          .number
            width max-content
            padding-left 20px
          .bar
            background $lightGray
            height 20px
            width 60%
            flex-shrink 0
            margin-top 10px
            margin-left 20px
            @media screen and (max-width:990px)
              height 40px
            .sub-bar
              background $skyBlue
              height 20px
              @media screen and (max-width:990px)
                height 40px
      .box
        border 10px solid $lightGray
        background $mainBlue
        padding 20px
        display flex
        flex-direction column
        margin 20px 10px
        #rentSaveAmount
          text-align center
        &.refinanceResult30
          background $skyBlue
        .title,.desc-text , .line
          color #fff
        .line
          display flex
          flex-direction row
          justify-content space-between
          align-items center
          font-size 16px
          padding-top 7px
          .text
            padding 0px
            @media screen and (max-width:990px)
              font-size 24px
          .number
            color #fff
            padding-left 10px
            @media screen and (max-width:990px)
              font-size 24px
      .affordabilityResult
        background $skyBlue
        border none
        color #fff
        .desc-text
          color #fff
          text-align center
        .details
          width 70%
          margin 10px auto
          padding 25px
          @media screen and (max-width:990px)
            width 100%
          .line
            .text
              padding 0px
            .number.large
              font-size 22px
              font-family guidBold
  .configurations
    @media screen and (max-width:990px)
      flex-direction column
    .item
      flex 0 1 45%
      .desc-text
        font-size 13px
        padding-right 10px
        @media screen and (max-width:990px)
          font-size 24px
      @media screen and (max-width:1330px)
        flex 1 0 45%
      @media screen and (max-width:990px)
        flex-basis auto
  .slidecontainer
    width 100%
    position relative
    padding 40px 20px 60px 0px
    text-align center
    border-bottom 1.5px solid $lightGray
    @media screen and (max-width:990px)
      margin-top 40px
    .slider-label
      position absolute
      margin-top 20px
      font-size 14px
      @media screen and (max-width:990px)
        font-size 24px
    .slider
      width 90%
      .slider-handle
        background-color $skyBlue
        border 1px solid #fff
        background-image none
        cursor pointer
      .slider-selection
        background $skyBlue
      .tooltip
        &.top
          @media screen and (max-width:990px)
            margin-top -48px
        .tooltip-arrow
          display none
        .tooltip-inner
          background $skyBlue
          border-radius 0px
          font-size 14px
          @media screen and (max-width:990px)
            font-size 24px
