.container.financing-options
  width 80%
  @media screen and (max-width:1250px)
    width 95%
  .options-container
    display flex
    flex-direction row
    justify-content center
    align-items flex-start
    @media screen and (max-width:990px)
      flex-direction column
    .option
      display flex
      flex-direction column
      flex-basis 25%
      width 100%
      padding 20px 10px
      @media screen and (max-width:990px)
        padding 50px 20px
        flex-basis auto
      .type
        display flex
        flex-direction column
        align-items center
        justify-content baseline
        color #fff
        height 350px
        text-align center
        background $mainBlue
        padding 25px
        min-height 260px
        @media screen and (max-width:1160px)
          height 400px
        .title
          color #fff
          padding-bottom 10px
        .desc-text
          color #fff
          padding 20px
        .fa
          padding 8px 0px
          font-size 45px
          color $guidGolden
          @media screen and (max-width:990px)
            font-size 65px
            padding 10px 0px
      .content
        margin-top 10px
        display flex
        flex-direction column
        align-items flex-start
        justify-content flex-start
        padding 20px
        background $lightGray
        text-align left
        .text
          padding 0
          background $lightGray
        .table
          margin-bottom 0px
          @media screen and (max-width:990px)
            font-size 30px
          tr:nth-child(2n+2)
            td:first-child
              background $mediumBlue
            td:nth-child(2n+2)
              background #ebebeb
          td
            padding 5px 10px
            text-align center
            &:first-child
              width 40%
              background $mainBlue
              color $guidGolden
              padding 10px
            &:nth-child(2n+2)
             background #cfcfcf
        &.full
          padding 0px
          background none
          .desc-text
            padding 20px
        .accordion-content
          padding 0px
          .accordion-item
            margin 0px
            &.second
              margin-top 10px
        .desc-text
          display flex
          flex-direction row
          align-items baseline
          .fa
            color $mainBlue
            font-size 15px
            margin-right 10px
            @media screen and (max-width:990px)
              font-size 25px
