.container.find-account-executive
  width 100%
  .acc-executive-buttons
    .main-button
      border-radius 5px
      background $lightGray
      color $darkGray
      border none
      margin 5px
      padding 5px 30px
      font-size 14px
      @media screen and (max-width:990px)
        flex-basis 31%
        -ms-flex-preferred-size 24%
      &.active
        background $mainBlue
        color #fff
  .executive-list
    flex-direction row
    justify-content center
    align-items center
    flex-wrap wrap
    margin 50px auto
    @media screen and (max-width:1200px)
      flex-wrap wrap
    @media screen and (max-width:990px)
      flex-direction column
    .acc-executive
      display flex
      flex-direction column
      justify-content center
      align-items center
      text-align center
      flex-basis 25%
      padding 30px 20px
      @media screen and (max-width:1200px)
        flex-basis auto
      .title
        &.three
          color $darkGray
        &.four
          margin 0px
      .app-circle
        width 200px
        height 200px
        position relative
        overflow hidden
        img
          width 200px
          position absolute
          top 0
          left 0
        .fa
          color $mainBlue
          font-size 85px
