.container.givingBack
  width 75%
  @media screen and (max-width:990px)
    width 100%
    padding 0px
  .giving-back-wrapper
    .causes-wrapper
      display flex
      justify-content center
      flex-direction row
      flex-wrap wrap
      margin 40px 0px
      .cause
        display flex
        align-items center
        flex-direction column
        flex-basis 25%
        padding 0px 20px
        .main-heading
          margin 30px 0px
        .title
          width 200px
        .app-circle
          width 150px
          height 150px
          .fa
            font-size 45px
            color $mainBlue
    .give-back-image
      display flex
      justify-content center
      padding 20px
      margin-bottom 20px
      @media screen and (max-width:990px)
        padding 0px
      img
        max-width 100%
        height auto
        width 100%
@media screen and (max-width:990px)
  .container.givingBack
    .giving-back-wrapper
      .causes-wrapper
        .cause
          flex-basis 100%
          .title
            width 100%
            font-size 34px
          .desc-text
            font-size 24px
