.container.guidanceInNews
  width 100%
  padding 0
  >.main-heading
    margin-bottom 0px
  .owl-carousel.channels
    width 55%
    margin 0px auto 45px auto
    @media screen and (max-width:990px)
      width 75%
    .owl-stage
      display flex
      flex-direction row
      align-items center
  .single-video-section
    background #fff
    @media screen and (max-width:1100px)
      .video-container
        width 100%
        margin 50px 0px
  .news-container
    background $lightGray
    display flex
    flex-direction row
    flex-wrap wrap
    padding 3% 10%
    @media screen and (max-width:1300px)
      padding 3% 5%
    @media screen and (max-width:1100px)
      flex-wrap wrap
    align-items center
    justify-content flex-start
    .news
      display flex
      flex 0 0 50%
      flex-direction row
      padding 30px 20px
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        flex 0 0 40%
      @media screen and (max-width:1100px)
        flex 0 0 100%
      .app-circle
        height 20px
        width 20px
        padding 25px
        .fa
          color $mainBlue
          font-size 25px
      .description
        display flex
        flex-direction column
        text-align left
        padding 0px 40px
        width 100%
        .seperate-line
          margin 10px 0px
        .desc-text
          width 60%
          line-height 1.5em
          @media screen and (max-width:990px)
            width 100%
        .button-wrapper
          padding 20px 0px 0px 0px
        .title
          margin-bottom 0px
          line-height 1.3em
          .light
            font-size 16px
            @media screen and (max-width:990px)
              font-size 24px
