.container.guidanceRealty,
.container.sell-with-guidance,
.container.app-download,
.container.contact-us,
.container.my-account
  display flex
  align-items center
  justify-content center
  flex-direction column
  width 100%
  padding 0px
  .main-heading
    &.sub 
      margin-bottom 0px
  .image-container
    width 100%
    height 350px
    display flex
    background-repeat no-repeat
    background-image url('../images/guidanceRealty/grealty_save_at_closing.jpg')
    justify-content center
    background-position center
    align-items center
    background-size cover
    &.getPrequalifiesRefferals
      background-image url('../images/guidanceRealty/grealty_get_prequalified_referrals.jpg')
.how-it-works
  background #fff
  width 100%
  >.main-heading
    padding-top 45px
  >.desc-text:last-of-type
    text-transform uppercase
    padding 40px 20px
  text-align center
  .button-wrapper
    margin 20px
    @media screen and (max-width:990px)
      display flex
      flex-direction column
      align-items center
    .main-button
      margin 0px 10px
      @media screen and (max-width:990px)
        margin 10px
.realty-steps
  width 100%
  display flex
  flex-direction row
  justify-content center
  align-items flex-start
  padding 0% 7%
  @media screen and (max-width:1300px)
    flex-wrap wrap
  @media screen and (max-width:990px)
    flex-direction column
  &.contact-us, &.my-account
    .step
      &:active, &:focus, &:hover
        cursor pointer
        text-decoration none
        h4
          text-decoration underline
  .step
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    padding 30px 25px
    width 100%
    @media screen and (max-width:990px)
      margin 30px 0px
    .button
      margin 20px 0px
    .desc-text
      padding 20px 10px
    .app-circle
      margin 20px 35px
      width 120px
      height 120px
      @media screen and (max-width:990px)
        width 160px
        height 160px
      .desc-text
        padding 20px
      .fa
        font-size 45px
        color $mainBlue
        @media screen and (max-width:990px)
          font-size 65px
