.mobile-app-banner
  display none
  flex-direction row-reverse
  padding 25px
  background $lightGray
  position relative
  justify-content center
  text-align left
  align-items center
  &.active
    display flex !important
  .fa-close
    position absolute
    right 0
    top 0
    padding 5px
    color $mainBlue
    font-size 45px
    cursor pointer
  .logo
    display none
    margin-right 20px
    img
      width 400px
    &.active
      display block
#scheduleSuccessMessage, #listyourHomeSuccessMessage
  display none
  padding 40px
  .app-circle
    width 100px
    margin 10px auto
    height 100px
    .fa
      font-size 55px
      color $mainBlue
  &.active
    display block
.company-logo
   padding 0 25px
   img
    height 45px
    @media screen and (max-width:990px)
      height 80px
.dropup, .dropdown
    position: inherit
#header
  background #2c51a4
  display flex
  align-items center
  flex-direction row
  justify-content space-between
  height 98px
  .bismillah-logo
    display: flex
    flex-direction column
    align-items flex-end
    height: 100%;
    justify-content: flex-end;
    color #fff
    padding 10px 20px 10px 0
    cursor pointer
    img
      width 140px
    .company-phone
      padding-top 5px
      font-size 18px
  ul.dropdown
    list-style none
    display flex
    align-items baseline
    margin-bottom 2px
    padding 0px 10px
    .divider
      display none
    li.drop-item
      padding 60px 15px 10px 15px
      color #fff
      cursor pointer
      font-size 17px
      display flex
      flex-direction row
      align-items center
      border-top 2px solid $mainBlue
      &:hover
        background $mediumBlue
        border-top 2px solid $guidGolden
        >a
          color $guidGolden
      >.icon
        padding-right: 10px;
      >a
        color #fff
      &:hover, &:hover>a
        color $guidGolden
      .sub-menu a
        &.heading
          &:hover
            cursor default
        text-decoration none
        &:hover, &:visited, &:active, &:focus
          text-decoration none
          cursor pointer
  .dropdown-sub
    position absolute
    align-self flex-start
    justify-content center
    flex-direction column
    cursor default
    background $mediumBlue
    color #fff
    left 0
    margin-top 31px
    list-style none
    font-size 13px
    border-bottom 2px solid $guidGolden
    z-index 99
    .sub-menu
      display flex
      flex-direction row
      justify-content center
      padding-bottom 40px
      .menu-column
        display flex
        flex-direction column
        padding 15px 23px 0px 23px
        @media screen and (max-width:1060px)
          padding 15px 18px 0px 18px
    .heading
      color #fff
      letter-spacing 3px
      text-transform uppercase
      border-bottom 1px solid $guidGolden
      padding 20px 0px 15px 0px
      font-size 18px
      @media screen and (max-width:1155px)
        font-size 16px
        letter-spacing 2px
    .list-group-item
      border none
      padding 8px 0px 5px 0px
      background none
      color #fff
      font-size 16px
      @media screen and (max-width:1060px)
        font-size 15px
      .fa
        color $guidGolden
        padding-right 10px
      &:hover
        color $guidGolden
    .quick-links
      display flex
      flex-direction row
      background $lightGray
      text-align center
      justify-content center
      font-family guidBold
      .list-group-item + .list-group-item
        border-left 1px solid $mainBlue
      .heading
        border none
        &:hover
          text-decoration none
      a
        margin 15px 0px
        padding 0 20px
        color $mainBlue
        &:hover
          color $mainBlue
          text-decoration underline
  .drop-item
    .dropdown-sub
      display none

  .drop-item:hover
    >a
      text-decoration none
    .dropdown-sub
      display flex
      width 100%
      animation slide-up 0.6s ease-out
.mobile-menu-wrapper
  display none
  cursor pointer
  .mobile-icon
    font-size 90px
    padding-left 10px
    color #fff
    &.hide
      display none
.mobile-menu
  position absolute
  top 0
  left 0
  width 100%
  display none
  background #2c51a4
  z-index 99
  &.active
    display block
  .close-mobile
    height 100px
  .list-group-item
    .fa
      padding-right 30px
    &.tier-2
      padding-left 9%
      background $mediumBlue !important
    &.tier-3
      padding-left 18%
      background $darkBlue !important

.close-mobile-icon
  font-size 90px
  color #fff
  padding 10px

.list-group
  margin-bottom 0px

.mobile-menu
  a
    &.list-group-item
      background none
      border none
      color #fff !important
      font-size 55px
      &.tier-1
        &:hover, &:active, &:focus
          background none
.mobile-menu
  a.list-group-item:hover, a.list-group-item:active, a.list-group-item:focus
    background none
    color $guidGolden !important

a[aria-expanded="false"].list-group-item
  &:focus
    color #fff !important
  &:hover
    color $guidGolden !important

a[aria-expanded="true"].list-group-item
  color $guidGolden

.open-close-icon
  float right

a[aria-expanded="true"]
  .open-close-icon
    &:before
      content "\f077" !important

a[data-toggle="collapse"]
  .open-close-icon
    &:before
      content "\f078"


/*
 *Footer Styles.
 */
.app-footer
  display flex
  flex-direction column
  background $darkGray
  justify content center
  align-items center
  list-style none
  padding 40px 0
  color #fff
  font-size 16px
  @media screen and (max-width:990px)
    font-size 22px
  .approval-msg
    @media screen and (max-width:990px)
      padding 20px 5px 10px 5px
    text-align center
    width 100%
  ul
    display flex
    list-style none
    align-items center
    padding 0
    &.site-links
      @media screen and (max-width:990px)
        flex-direction column
    &.corporate-links
      margin-bottom 0px !important
      @media screen and (max-width:990px)
        flex-direction column
        padding 10px 0px
    &.company-address
      padding 10px 0px
      @media screen and (max-width:990px)
        flex-direction column
        li
          padding-top 10px
    li
      padding 0 10px
      color #fff
      text-align center
    .media-icon
      font-size 25px
      color #fff
    .site-link
      text-transform uppercase
    .slash
      color #fff
      @media screen and (max-width:990px)
        display none
    a
      text-decoration none
      color #fff


 /*
  * Mobile Styles.
  */
@media screen and (max-width:1265px)
  .dropdown
      .fa
        display none
    .divider
      display inline-block !important
      color #fff
  .bismillah-logo
    display none !important
  ul.dropdown.tier-2
    padding 0% 10% 0% 25% !important
@media screen and (max-width:990px)
  #header
    align-items center
    height 150px
  .mobile-menu-wrapper
    display block
  .dropdown
    display none !important
  .header-main
    justify-content space-between
    align-items center
@keyframes slide-up {
      0% { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0); }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  #header
    .dropdown-sub
      margin-top 20px !important

/*
 * Large monitor size styles
 */
@media screen and (min-width:1440px)
  #header ul.dropdown li.drop-item
    padding 60px 25px 10px 25px
    font-size 18px
@media screen and (min-width:1600px)
  .company-logo
    img
      height 55px
  #header
    .bismillah-logo
      img
        width 160px
      .company-phone
        font-size 20px
  #header ul.dropdown li.drop-item
    padding 60px 30px 10px 30px
    font-size 20px
  #header .dropdown-sub
    margin-top 36px
@media screen and (min-width:1920px)
  .company-logo
    img
      height 65px
  #header
    .bismillah-logo
      img
        width 180px
      .company-phone
        font-size 22px
  #header ul.dropdown li.drop-item
    padding 60px 40px 10px 40px
    font-size 22px
  #header .dropdown-sub
    margin-top 39px
