.download-image-container
  margin 10px auto
  @media screen and (max-width:990px)
    display none
  .app-store-img
    min-width 135px
    max-width 135px
    margin 0px 10px
    cursor pointer
    &.android
      min-width 165px
      max-width 165px
.home-video
  position relative
  display flex
  flex-direction column-reverse
  justify-content center
  align-items center
  background black
  max-height 800px
  overflow hidden
  min-height 500px
  .owl-container
    width 60%
    margin 20px auto
    position absolute
    display flex
    flex-direction column
    align-items center
    justify-content center
    text-align center
    bottom 0
    z-index 24
    left 0
    right 0
    margin 0px auto
    .title.three
      color #fff
      text-transform capitalize
      font-size 16px
    .owl-carousel
      &.channels-homepage
        margin-top 20px
        margin-bottom 20px
    .owl-stage
      display flex
      flex-direction row
      align-items center
      .owl-item
        text-align center
        .item
          margin 0 auto
    .button-container
      flex-basis auto
      margin 20px auto
      .title
        color #fff
  .text
    position absolute
    text-align center
    z-index 22
    display flex
    flex-direction column
    align-items center
    justify-content center
    top 100px
    left 0
    right 0
    margin 0px auto
    @media screen and (max-width:1100px)
      top 60px
    .button-container
      margin 20px auto
    .typed-cursor
      display none
    .mainTitle
      color $guidGolden
      text-transform uppercase
      font-size 70px
      font-family guidRegular
      text-shadow 2px 3px black
      margin-top 0px
      margin-bottom 0px
      @media screen and (max-width:1350px)
        font-size 70px
      @media screen and (max-width:1100px)
        font-size 60px
      &.two
        font-size 50px
        color #fff
        @media screen and (max-width:1350px)
          font-size 50px
        @media screen and (max-width:1100px)
          font-size 40px
    .seperate-line
      margin 50px 0px 10px 0px
      @media screen and (max-width:1350px)
        margin 20px 0px 10px 0px
    .mainDesc
      color #fff
      font-size 32px
      min-height 1.1em
      font-family guidLightItalic
      animation caret 1s steps(1) infinite;
      margin 45px 0px 60px 0px
      border-right .05em solid
      text-shadow 1px 2px black
      @media screen and (max-width:1350px)
        margin 20px 0px 10px 0px
    .main-button
      font-size 18px
      margin-right 25px
  img
    max-width 100%
    min-width 100%
    height auto
    max-height 800px
    &#homeVideoImage
      min-height 500px
  video
    max-width 100%
    min-width 100%
    height auto
    max-height 800px
    object-fit fill
    min-height 500px
    z-index 20
    display none
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
      position absolute
      top 0
      left 0
      max-height none
.tab-step-heading
  border-top 3px solid $guidGolden
  background $lightGray
  .seperate-line
    margin 15px 0px
.six-step-container
  display flex
  flex-direction row
  flex-wrap wrap
  padding 40px
  background $lightGray
  justify-content center
  @media screen and (max-width:990px)
    display none
  .step
    display flex
    width 250px
    flex-direction column
    align-items center
    justify-content baseline
    align-items center
    text-align center
    margin 20px 10px
    @media screen and (max-width:1720px)
      flex-basis 25%
    .desc-text
      font-size 16px
      height 70px
    .seperate-line
      width 50px
    .sub-text, .title.three
      font-family guidBold
    .title.three
      letter-spacing 2px
      font-size 26px
    .main-button
      display flex
      min-width 230px
      flex-wrap wrap
      flex-direction column
    .app-circle
      height 70px
      width 70px
      margin 20px 0px
      .step-number-icon
        font-size 32px
        color $mainBlue
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
          margin-top -15px
.tab-step-container
  background #ebebeb
  display flex
  justify-content center
  flex-direction column
  .steps
    .tab-steps
      display flex
      flex-direction row
      list-style none
      padding 0
      align-items center
      justify-content center
      .tab-step-item
        display flex
        flex-direction column
        padding 20px 25px
        justify-content center
        text-align center
        border 1px solid #d7d7d7
        width 200px
        cursor pointer
        &.selected
          background #fff
          border-top #fff
          border-bottom 2px solid $guidGolden
          .sub-text
            color $mainBlue
          .icon
            color $mainBlue
        .icon
          font-size 30px
          color #909090
        .sub-text
          color #909090
          display flex
          justify-content center
  .content
    width 60%
    &.active
      display flex
    display none
    flex-direction row
    padding 20px
    height 400px
    text-align center
    justify-content space-around
    align-self center
    &.close
      opacity 1
      line-height normal
      font-weight normal
    .icon
      height 200px
      width 200px
      .fa
        font-size 100px
        color $mainBlue
        padding 40px
    .text
      padding 20px
      display flex
      flex-direction column
      align-items center
      .main-heading
        max-width 450px
        .title
          margin-top 20px
          text-transform capitalize
        .button-wrapper
          margin 25px 10px
.popover
  background $lightGray
  font-size 16px
  font-family guidRegular
  max-width 40%
  &.bottom
    .arrow
      &::after
        border-bottom-color $lightGray
  &.right
    .arrow
      &::after
        border-right-color $lightGray
.guidance-different-section
  .main-heading
    .desc-text
      width 60%
  .steps
    display flex
    flex-direction row
    width 100%
    justify-content center
    flex-wrap wrap
    padding 20px 50px
    .step
      display flex
      flex-direction column
      text-align center
      flex-basis 20%
      margin 20px
      @media screen and (max-width:990px)
        flex-basis 100%
      .fa
        cursor pointer
      .title
        text-transform none
        padding 10px 0px
      img
        width 140px
.split-content-section
  background $lightGray
  .image-container
    background-image url('../images/home/mockup_giOS_homepage.jpg')
    width 50%
  .main-heading
    padding-bottom 30px
    width 50%
    a
      padding-top 15px
      text-align center
      &.app-page-link
        text-align left
.tab-step-mobile
  display none
  .mobile-step
    text-decoration none
    display flex
    justify-content center
    padding 10px 0px
    border-top 1px solid $lightGray
    border-bottom 1px solid $lightGray
    &[aria-expanded="true"]
      border-bottom 1px solid $guidGolden
    &:hover
      text-decoration none
  .content
    &.collapse
      display none
    &.collapse.in
      display flex
      justify-content center
    background $lightGray
    .icon
      margin-top 20px
      width 100px
      height 100px
      .fa
        color $mainBlue
        font-size 60px
    .text
      padding-bottom 40px
      width 100%
      .desc-text
        padding 0px 10px
.container.home
  width 100%
  padding 0
  .split-content-section
    .app-store-img
      margin-top 20px
    .title.three
      .fa
        padding-right 10px
        font-size 20px
        vertical-align middle
        padding-bottom 5px
    .seperate-line
      width 50px
      margin 15px 0px
    padding 0
@media screen and (max-width:1200px)
  .tab-step-item
    .sub-text
      flex-direction column
@media screen and (max-width:990px)
  .container.home
    .split-content-section
      flex-wrap wrap
      justify-content center
      .image-container
        width 100% !important
        height 500px
      .main-heading
        width 100%
        margin-top 40px
        &.left
          align-items center
          text-align center
  .tab-step-container
    display none
  .tab-step-mobile
    display block
@keyframes caret
  50%
    border-color transparent
.home-video
  @media screen and (max-height:885px)
    .text
      top 50px
      .seperate-line
        margin 20px 0px 10px 0px
      .mainDesc
        margin 20px 0px 30px 0px
  @media screen and (max-height:750px)
    .text
      top 25px
      .mainDesc
        font-size 28px
        margin 15px 0px 20px 0px
      .mainTitle
        font-size 60px
        &.two
          font-size 35px
