.container.homeBuyingReasons , .container.refinancingReasons
  width 100%
  padding 0px
  .split-list-container
    .image-container
      height 350px
      min-width 40%
      max-width 40%
    #firstTimeHomeBuyer
      .image-container
        background-image url('../images/homeBuyingReasons/buying_reasons_first_buyers.jpg')
    #buyToRentOut
      .image-container
        background-image url('../images/homeBuyingReasons/buying_reasons_rent_out.jpg')
    #vacationHomes
      .image-container
        background-image url('../images/homeBuyingReasons/buying_reasons_vacation_homes.jpg')
    #reebaFreeHomeOwnership
      .image-container
        background-image url('../images/refinanceReasons/refinance_reasons_riba_free.jpg')
    #lowerMonthlyPayment
      .image-container
        background-image url('../images/refinanceReasons/refinance_reasons_lower_monthly.jpg')
    #reducePayOffTerm
      .image-container
        background-image url('../images/refinanceReasons/refinance_reasons_reduce_term.jpg')
    #cashOutRefinancing
      .image-container
        background-image url('../images/refinanceReasons/refinance_reasons_cash_out.jpg')
  >.main-heading
    margin-bottom 0px
    .desc-text
      width 60%
      @media screen and (max-width:990px)
        width 100%
        padding 0 20px
