.container
  >.main-heading
    margin 45px 0px
.main-heading
  .desc-text
    font-size 20px
    @media screen and (max-width:990px)
      font-size 26px
    &.body-text
      font-size 16px
      @media screen and (max-width:990px)
        font-size 22px
  .seperate-line
    margin-top 30px
    margin-bottom 30px
.main-heading, .content
  text-align center
  display flex
  flex-direction column
  align-items center
  width 100%
  &.left
    text-align left
    align-items start
  .desc
    font-size 24px
    font-weight 300
    margin-bottom 20px
    width 100%
.desc-text
  color $textDarkGray
  font-size 16px
  margin-bottom 20px
  width 100%
  line-height 1.6em
  &.small
    font-size 13px
  .list-step
    display flex
    flex-direction row
    align-items baseline
    @media screen and (max-width:990px)
      align-items center
    .app-circle
      background $darkGray
      height 10px
      width 10px
      margin-right 10px
      padding 7px
      border none
      @media screen and (max-width:990px)
        height 15px
        width 15px
        padding 10px
        margin-right 20px
      .fa
        color #fff
        font-size 10px
        @media screen and (max-width:990px)
          font-size 14px
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
          margin-top -5px
  @media screen and (max-width:990px)
    font-size 30px
    padding 0px 20px
    &.small
      font-size 20px
.seperate-line
  height 4px
  margin 35px 0px
  background $guidGolden
  width 80px
  &.sub
    margin 20px 0px
.sub-text
  font-weight 700
  font-size 15px
  text-transform uppercase
  letter-spacing 1px
  color $mainBlue
  &.white
    color #fff
  @media screen and (max-width:990px)
    font-size 30px
  .thin-subtext
    font-weight 400
.title
  font-size 36px
  font-weight 400
  color $mainBlue
  margin-top 40px
  margin-bottom 0px
  text-transform uppercase
  width 100%
  @media screen and (max-width:990px)
    font-size 48px
  &.two
    font-size 22px
    color #636363
  &.three
    margin 10px 0px 0px 0px
    font-size 22px
    color $mainBlue
    &.white
      color #fff
    @media screen and (max-width:990px)
      font-size 34px
  &.four
    font-size 16px
    margin 10px 0px
    @media screen and (max-width:990px)
      font-size 24px
  &.five
    font-size 14px
    margin 10px 0px
    @media screen and (max-width:990px)
      font-size 22px
  &.six
    font-size 30px
    @media screen and (max-width:990px)
      font-size 28px
.light
  font-family guidLight
.italic
  font-family guidItalic
