.container.media-gallery
  width 100%
  .main-heading
    padding 0px 50px
    margin-bottom 0px
  .split-list-container
    padding 0px 50px 50px 50px
    .item
      padding 10px 0px
      @media screen and (max-width:1300px)
        flex-direction column
      .content
        margin-right 40px
        max-width 350px
        text-align left
        @media screen and (max-width:1300px)
          text-align center
          margin 10px 0px
          max-width 100%
        .title
          &.three
            margin-bottom 30px
      .gallery
        width 100%
        .modal-dialog
          top 2%
          .modal-content
            .carousel-content
              width 100%
              .owl-carousel
                padding 25px
                .owl-item
                  max-height 700px
                  cursor default
                  .item
                    img
                      height auto
                      width 80%
                      margin 0 auto
                      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
                        height 100%
        .owl-carousel
          margin 20px auto
          padding 20px 0px
          &.media-gallery
            width 800px
          .owl-item
            cursor pointer
            img
              height 170px
