@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
.modal-dialog
  width 70%
  top 25%
  max-height 600px
  &.contact-us
    top 10%
    @media screen and (max-width:1350px)
      width 90%
    .modal-body
      .content
        padding 0px
        display flex
        flex-direction row
        align-items stretch
        @media screen and (max-width:1100px)
          flex-direction column
          height 100%
        #contactUsSuccessMessage
          display none
          background $mainBlue
          &.active
            display flex
            align-items center
            height 100%
            padding 25px
            @media screen and (max-width:1100px)
              width 100%
            .app-circle
              width 100px
              height 100px
              margin 10px auto
              .fa
                color $mainBlue
                font-size 55px
        .desc-text.contactUs-error
          display none
          color red
          &.active
            display block
        .info-content
          display flex
          flex-direction column
          padding 20px
          width 100%
          .title.three
            letter-spacing 2px
        .form-content
          height auto
          display flex
          width 60%
          padding 20px
          background $mainBlue
          flex-direction column
          @media screen and (max-width:1100px)
            width 100%
          &.inactive
            display none
          .title
            color #fff
          #contactUsForm
            display flex
            flex-direction column
            width 100%
            input, select, textarea
              margin 10px 0px
              padding 10px
              @media screen and (max-width:990px)
                font-size 22px
            .main-button
             margin 20px auto
    .desc-text
      padding 10px 0px
      text-align left
      a
        color $mainBlue
        &:hover,&:active,&:focus,&:visited
          text-decoration none
  &.schedule-consultation, &.list-your-home, &.webinar-banner
    top 2%
    width 600px
    .content
      &.inactive
        display none
    .desc-text
      text-align center
      &.schedule-error, &.list-your-home-error
        display none
        color red
        &.active
          display block
    form
      display flex
      flex-direction column
      width 100%
      input, select
        margin 10px 0px
        padding 10px
        @media screen and (max-width:990px)
          font-size 22px
      .main-button
       margin 20px auto
  &.webinar-banner
    color #fff
    top 15%
    h3
      width 100%
      @media screen and (max-width:990px)
        font-size 30px
    #webinarModalMainText
      margin-top 35px
    .close-icon
      font-size 30px
      right 0
      position absolute
      cursor pointer
      top -2%
      padding 5px
      @media screen and (max-width:990px)
        font-size 50px
    .app-circle
      position absolute
      left 40%
      top -60px
      width 120px
      height 120px
      color $mainBlue
      .fa-laptop
        font-size 60px
        position relative
        .fa-play
          font-size 15px
          position absolute
          top 30%
          left 45%
    .main-button
      margin 30px 0px
      width 85%
      font-weight normal
    .countdown
      display flex
      justify-content center
      .time-tick
        padding-top 15px
        font-size 50px
      .time-spot
        display flex
        flex-direction column
        padding 10px 25px
        .time-num
          font-size 60px
          font-weight bold
        .time-title
          font-size 16px
  &.our-team
    top 5%
    .desc-text
      text-align justify
    .sub-heading
      display flex
      flex-direction column
  .modal-content
    border-radius 0px
    border 2px solid $guidGolden
    &.full
     height 100%
    @media screen and (max-width:990px)
      height 100%
    .modal-body
      .close
        position absolute
        right 0
        padding 10px
        font-size 40px
        font-weight 100
        opacity 1
        color $mainBlue
        line-height 0.5
        &:focus
          outline none
      padding 0
      display flex
      height 100%
      flex-direction row
      .content
        padding 35px 40px
        width 100%
        &.contactUs
          padding 0px
        .title
          margin-top 0px
          font-family guidLight
        .desc-text
          .steps
            display flex
            flex-direction row
            justify-content space-between
            width 100%
            padding 10px 0px
            @media screen and (max-width:990px)
              flex-direction column
            .step
              display flex
              flex-direction row
              align-items center
              padding 10px 20px
              width 100%
              .app-circle
                margin-right 20px
                padding 15px
              .fa
                color $mainBlue
                font-size 25px
      .image
        width 400px
        height 100%
        .modal-image
          max-width 100%
          height 100%
.blue-modal
  .modal-content
    background $mainBlue
    .title, .sub-heading , .desc-text
      color #fff
.modal-dialog
  .modal-content
    .modal-spinner
      align-items center
      background rgba(0,0,0,0.5)
      display flex
      flex-flow column nowrap
      height 100%
      justify-content center
      left 0
      position absolute
      top 0
      width 100%
      .spinner
        animation spin 2s linear infinite
        border 16px solid $navGray
        border-top 16px solid $guidGolden
        border-radius 50%
        display block
        height 120px
        width 120px
@media screen and (max-width:1200px)
  .modal-body
    .main-heading.left
      align-items center !important
      text-align center
    .image
      display none
      .modal-image
        display none
