.container.operationalStates
  @media screen and (max-width:990px)
    width 100%
    padding 0px
  .state-map
    width 100%
    overflow-x scroll
    svg
      width 1000px
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        height 600px
      .st2:hover
        fill $mediumBlue
        cursor pointer
      rect
        cursor pointer
  .state-map-description
    margin 40px auto
    display flex
    width 65%
    @media screen and (max-width:990px)
      flex-direction column
    .desc-text
      display flex
      flex-direction row
      align-items center
      justify-content center
      padding 0px
      .icon
        width 20px
        margin-right 20px
        &.fa
          font-size 35px
      .square
        height 20px
        width 20px
        display inline-block
        background #A0B8E0
  .state-list
    display flex
    flex-direction row
    flex-wrap wrap
    padding 0px 0px 50px 0px
    @media screen and (max-width:990px)
      flex-direction column
      width 70%
    .region
      display flex
      flex-direction row
      flex-basis 33%
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        flex-basis 28%
      justify-content center
      padding 20px
      @media screen and (max-width:990px)
        flex-basis auto
        justify-content flex-start
        margin-left 60px
      .states
        display flex
        flex-direction column
        color $textDarkGray
        font-size 16px
        padding-left 10px
        line-height 1.8em
        @media screen and (max-width:990px)
          font-size 30px
        .heading
          color $mainBlue
          font-size 22px
          text-transform uppercase
          @media screen and (max-width:990px)
            font-size 34px
      .fa
        font-size 20px
        padding-top 5px
        color $guidGolden
        @media screen and (max-width:990px)
          font-size 35px
          padding-top 10px
          padding-right 10px
.location-point
  cursor pointer
.office-location, .managers
  background #fff
  position absolute
  display none
  border 1px solid $guidGolden
  padding 10px 20px 0px 20px
  .title
    &.four
      font-size 18px
      @media screen and (max-width:990px)
        font-size 22px
  .desc-text
    font-size 15px
    @media screen and (max-width:990px)
      font-size 18px
