.container.ourCompany
  width 100%
  padding 0
  .tab-step-container
    display block
    @media screen and (max-width:990px)
      display none
    .tab-step-item
      width 240px
      display flex
      align-items center
      &.selected
        .app-circle
          border 1px solid $guidGolden
          background #fff
          .fa
            color $mainBlue
      .sub-text
        color #787878
      .app-circle
        width 80px
        height 80px
        border 1px solid #787878
        background none
        margin-bottom 10px
        .fa
          color #787878
  .content
    flex-direction column
    height 100%
    padding 20px 20px 50px 20px
    @media screen and (max-width:990px)
      padding 20px 0px 50px 0px
    .details
      display flex
      flex-direction column
      align-items center
      .step
        display flex
        flex-direction row
        align-items flex-start
        padding 10px 20px
        width 60%
        @media screen and (max-width:1200px)
          width 80%
        @media screen and (max-width:990px)
          width 100%
        .description
          display flex
          flex-direction column
          text-align left
          padding 0px 40px
          width 100%
          .title
            padding 0 0 10px 0
    &.overview, &#overviewTab
      padding 0px
      width 100%
      >.main-heading
        .desc-text
          width 75%
      .split-content-section
        .desc-text
          width 100%
        &.difference
          margin-top 50px
          >.main-heading
            background #fff
    &.culture, &#cultureTab
      width 100%
      .details
        width 100%
        .step
          width 60%
          @media screen and (max-width:1200px)
            width 80%
          @media screen and (max-width:990px)
            width 100%
          .app-circle
            background #fff
            border 1px solid $guidGolden
            width 20px
            height 20px
            padding 25px
            @media screen and (max-width:990px)
              width 80px
              height 80px
            .fa
              color $mainBlue !important
              font-size 25px
              @media screen and (max-width:990px)
                font-size 40px
    &.guidPrinciples, &.whatWeDo, &#guidPrincipleTab, &#whatWeDoTab
      width 100%
      >.main-heading
        .desc-text
          width 60%
      .details
        flex-direction column
        width 70%
        flex-wrap wrap
        .step
          flex-basis 50%
          align-items baseline
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            flex-basis 40%
          .app-circle
            width 5px
            height 5px
            border none
            padding 15px
            background $mainBlue
            .fa
              color #fff
              font-size 15px
              @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
                margin-top -12px
                &.fa-check
                  margin-top -8px
      &.whatWeDo, &#whatWeDoTab
        .details
          align-items baseline
          width 60%
          @media screen and (max-width:1200px)
            width 80%
          @media screen and (max-width:990px)
            width 100%
          .step
            width 100%
            padding-top 40px
            .description
              .title
                padding 0px
                margin-bottom 0px
              .button-wrapper
                margin-top 30px
            .app-circle
              background #fff
              border 1px solid $guidGolden
              width 20px
              height 20px
              padding 25px
              @media screen and (max-width:990px)
                width 80px
                height 80px
              .fa
                color $mainBlue !important
                font-size 25px
                @media screen and (max-width:990px)
                  font-size 40px
  .tab-step-mobile
    .content#guidPrincipleTab, .content#whatWeDoTab
      >.main-heading
        .desc-text
          width 100%
      .text
        .details
          width 100%
          .step
            flex-basis auto
            margin auto
  .split-content-section
    padding 0
    flex-direction row-reverse
    @media screen and (max-width:990px)
      flex-direction column
    .image-container
      width 55%
      background-image url(../images/whatWeDo/our-company.jpg)
      background-repeat no-repeat
      background-position center
      background-size cover
      @media screen and (max-width:990px)
        height 400px
        width 100%
    .main-heading
      margin-left 0px
      padding 40px
      @media screen and (max-width:990px)
        width 100%
    &.blue
      align-items center
      justify-content center
      background $mainBlue
      @media screen and (max-width:990px)
        flex-direction column-reverse
      .main-heading
        width 60%
        margin-bottom 60px
        @media screen and (max-width:990px)
          width 100%
      .button-wrapper
        padding 40px 0px
      .desc-text
        color #fff
        &.disclaimer
          font-size 14px
          margin-top 30px
        a
          color #fff
      .title
        color $guidGolden
      .app-circle
        margin 40px
        width 180px
        height 180px
        .fa
         font-size 60px
         color $mainBlue
