.history-timeline
  max-width 100%
  background-repeat no-repeat
  background-size cover
  background-position center center
  .years-timeline
    display flex
    padding-bottom 40px
    ul
      display flex
      list-style-type none
      align-items center
      margin 50px auto
      li
        border 2px solid $guidGolden
        padding 12px
        border-radius 50%
        list-style-type none
        cursor pointer
        position relative
        &.active
          background $guidGolden
        .text
          position absolute
          margin-top 30px
          left -15%
          color $mainBlue
          font-family guidBold
          font-size 18px
          @media screen and (max-width:990px)
            font-size 14px
      .divider
        width 3vw
        height 3px
        background $guidGolden
        position relative
        .end
          position absolute
          width 0
          height 0
          border-top 15px solid transparent
          border-bottom 15px solid transparent
          border-left 15px solid $guidGolden
          margin-top -13px
          margin-left 30px
  .year
    background $lightGray
    display none
    flex-direction column
    align-items center
    text-align center
    width 100%
    padding 30px 0px
    &.active
      display flex
    .history-details
      display flex
      padding 0px 5% 50px 5%
      flex-wrap wrap
      justify-content center
      width 90%
      .history-card
        display flex
        flex-direction column
        flex 1 0 40%
        width 100%
        position relative
        border 1px solid $guidGolden
        justify-content flex-start
        align-items center
        margin 20px
        text-align right
        padding 20px 20px 20px 60px
        align-items flex-end
        background #fff
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
          flex 1 0 30%
        @media screen and (max-width:990px)
          flex-basis auto
          text-align left
          align-items flex-start
          padding 20px 20px 20px 80px
          margin 0px
          .desc-text
            padding 0px
        &.last
          text-align center
          align-items center
          margin-top 75px
          padding 60px 20px 20px 20px
          flex-grow 0
          @media screen and (max-width:990px)
            padding 20px 20px 20px 80px
            text-align left
            align-items flex-start
            margin-top 0px
        &.right
          text-align left
          align-items flex-start
          padding 20px 60px 20px 20px
          @media screen and (max-width:990px)
            padding 20px 20px 20px 80px
            text-align left
            align-items flex-start
        .app-circle
          width 100px
          height 100px
          position absolute
          &.center
            top -50px
            right 41%
            @media screen and (max-width:1600px)
              right 40%
            @media screen and (max-width:1500px)
              right 39%
            @media screen and (max-width:1400px)
              right 38%
            @media screen and (max-width:1300px)
              right 37%
            @media screen and (max-width:1200px)
              right 36%
            @media screen and (max-width:1100px)
              right 35%
            @media screen and (max-width:990px)
              left -50px
              top 25%
          &.left
            left -50px
            top 25%
          &.right
            right -50px
            top 25%
            @media screen and (max-width:990px)
              left -50px
              top 25%
          .fa
            color $mainBlue
            font-size 45px
            &.fa-mobile
              font-size 55px
      .mobile-line
        border 1px solid $guidGolden
        height 80px
        display none
        @media screen and (max-width:990px)
          display block
      .divider-line
        border 0.8px solid $guidGolden
        margin-top 60px
        position relative
        margin-right 30px
        margin-left 30px
        &.single
          border 0px
        @media screen and (max-width:990px)
          display none
        &.second
          margin-top 0px
          padding-top 60px
          margin-bottom -30px
          &.last
            height 50%
        .divider-circle
          border-radius 50%
          background $guidGolden
          height 30px
          width 30px
          right -14px
          position absolute
.container.ourHistory
  >.main-heading
    margin 45px 0px 0px 0px
    .desc-text
      margin-bottom 0px
@-moz-document url-prefix()
  .history-timeline .year .history-details .divider-line.second.last
    height 0%
