.container.ourteam
  width 80%
  .team-list
    display flex
    flex-direction row
    justify-content center
    align-items baseline
    flex-wrap wrap
    &.shariah
      .member
        width 410px
    .member
      padding 25px
      display flex
      flex-direction column
      justify-content center
      text-align center
      width 350px
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        &:hover
          background $lightGray
      &.full
        flex-basis auto
        flex-basis 100%
        max-width 100%
      >.content
        cursor pointer
        .title
          margin 20px 0px 10px 0px
        .sub-heading
          color $textDarkGray
          font-size 18px
          display flex
          flex-direction column
          @media screen and (max-width:990px)
            font-size 24px
      .icon
        border-radius 50%
        border 1px solid $guidGolden
        height 175px
        width 180px
        align-self center
        cursor pointer
        position relative
        overflow hidden
        .member-image, .fa-user
          width 200px
          position absolute
          right -7%
          border-radius 50%
          filter grayscale(100%)
          &:hover
            filter none
        .fa-user
          font-size 200px
          color $lightGray
          &:hover
            color $mainBlue
