.container.podcasts
  width 75%
  >.main-heading
    margin-bottom 0px
  @media screen and (max-width:990px)
    width 85%
  .podcast-list
    .podcast
      padding 40px 0px
      .main-heading
        width 70%
        .title
          text-transform capitalize
    .split-content-section
      justify-content center
      .main-heading
        @media screen and (max-width:990px)
          width 100%
      @media screen and (max-width:990px)
        padding 60px 0px
        &.tile
          border none
      .app-circle
        width 20px
        height 20px
        padding 25px
        @media screen and (max-width:990px)
          display none
        .fa
          font-size 25px
          color $mainBlue
      .track
        padding 10px 0px
        width 100%
