.container.pressReleases
  .press-list
    display flex
    flex-direction column
    text-align center
    padding 0px 50px
  .press
    display flex
    flex-direction row
    text-align left
    align-items flex-start
    .fa
      font-size 35px
      color $mainBlue
      margin-right 20px
      margin-top 10px
    .description
      display flex
      flex-direction column
      margin 5px 0px 30px 0px
      @media screen and (max-width:990px)
       margin 5px 0px 50px 0px
      .seperate-line
        margin 10px 0px
    .press-link
      color $mainBlue
      font-size 18px
      text-decoration none
      @media screen and (max-width:990px)
        font-size 34px
    .desc-date
      color $textDarkGray
      font-size 14px
      @media screen and (max-width:990px)
        font-size 22px
  .press-release
    font-size 16px
    padding 0px 0px 60px 0px
    .button-container
      display flex
      flex-direction row
      align-items center
      justify-content space-between
      .next-button, prev-button
        margin 30px 0px
    .press
      flex-direction column
      .seperate-line
        margin 10px 0px
    .desc-text
      padding 10px 0px
      .com-link
      &:hover
        text-decoration none
      &.column-flex
        display flex
        flex-direction row
        align-items baseline
        .bold
          width 100px
          min-width 100px
        .text
          .right-text
            margin-top 20px
    table
      width 100%
      tr
        border-top 1px solid $lightGray
        td
          padding 8px 0px
    .share-icons
      .fa
        color $mainBlue
        font-size 20px
        cursor pointer
        @media screen and (max-width:990px)
          font-size 40px
          margin-right 10px
        &.fa-twitter-square
          color $twitterColor
        &.fa-linkedin-square
          color $linkedinColor
