.container.purchase-rates
  @media screen and (max-width:1200px)
    width 90%
  @media screen and (max-width:990px)
    width 100%
    padding 0px
  a.main-button.active
    background-color $guidGolden
    color $mainBlue
  .desc-text
    &.sky-blue
      text-align center
      color $skyBlue
    &.small
      font-size 13px
      text-align justify
      padding 0px 25px
      @media screen and (max-width:990px)
        font-size 18px
  .rates-content
    width 100%
    margin 60px auto
    &.tab-content.active
      display block
    .rates-table-wrapper
      display flex
      flex-direction row
      width 100%
      align-items flex-start
      overflow-x scroll
      @media screen and (max-width:990px)
        display none
      .rate-table
        flex-basis 16.66%
        justify-content center
        align-items baseline
        margin 10px
        width 160px
        @media screen and (max-width:1200px)
          flex-basis auto
          flex-shrink 0
        &.sky-blue
          td
            border-top 1px solid #fff
            border-bottom 1px solid #fff
            background $skyBlue
            color #fff
            font-weight bold
            &.last
              border-bottom 1px solid $darkGray
        th
          color #fff
          text-transform uppercase
          border 1px solid $darkGray
          height 80px
          text-align center
          padding 20px 25px
          &.blue
            background $mainBlue
            height 115px
        td
          border 1px solid $darkGray
          padding 10px 15px
          text-align center
        tr
          @media screen and (max-width:990px)
            font-size 24px
          &:nth-child(2n+2)
            background $lightGray
    .table-banner
      background $mainBlue
      height 70px
      display none
      align-items center
      justify-content center
      text-align center
      .title
        color #fff
      @media screen and (max-width:990px)
        display flex
    .rates-table-wrapper.mobile
      display none
      .rate-table
        margin 0px
        font-size 18px
        width 150px
        flex-shrink 0
        flex-basis auto
        &.bold
          font-family guidBold
        &.first
          width 200px
          border-right 2px solid lightgray
          border-bottom 2px solid lightgray
          th, td, tr
            background none
        th
          border none
          height 120px
          color $darkGray
        td
          border none
          height 100px
          &.sky-blue
            background $skyBlue
      @media screen and (max-width:990px)
        display flex
        flex-shrink 0
        overflow-x scroll
    .sky-blue-flag
      background $skyBlue
      color #fff
      padding 25px 20px
      font-size 18px
      margin 15px
      position relative
      a
        color #fff
        &:active, &:focus, &:visited
          color #fff
      @media screen and (max-width:990px)
        flex-direction column
        text-align center
        font-size 28px
      .triangle
        position absolute
        width 0
        height 0
        top -19px
        left 45px
        border-left 16px solid transparent
        border-right 16px solid transparent
        border-bottom 20px solid $skyBlue
        @media screen and (max-width:990px)
          display none
    .blue-flag
      background $mainBlue
      color #fff
      padding 25px 20px
      margin 15px
      display flex
      flex-direction row
      align-items center
      font-size 18px
      @media screen and (max-width:990px)
        flex-direction column
        text-align center
      .text
        margin-right 20px
        @media screen and (max-width:990px)
          margin 20px auto
          font-size 28px
      .main-button
        width 30%
        @media screen and (max-width:990px)
          width 50%
  .image-container
    margin 50px auto
.configurations
  flex-direction row
  flex-wrap wrap
  width 100%
  &.collapse.in
    display flex
  .item
    display flex
    flex-direction row
    flex 1 0 45%
    margin 10px
    align-items center
    .desc-text
      width 50%
      margin-bottom 10px
