.container.refinancing-process
  width 85%
  >.main-heading
    margin-bottom 0px
  @media screen and (max-width:990px)
    width 95%
  .split-list-container
    padding 0% 5%
    @media screen and (max-width:990px)
      padding 20px 40px
