.container.scholars-rulings
  .owl-carousel.scholars-rulings
    margin 50px auto
    .owl-item
      border 1px solid $lightGray
.video-container
  .video
    &.scholars
      padding-bottom 55.2%
.owl-carousel.scholars-rulings
  .item
    padding 1px