.container.sign-up-get-started
  @media screen and (max-width:990px)
    width 100%
    padding 0px
  .compare-table.wrapper
    width 100%
    overflow-x scroll
    .table.compare-guidance
      padding 50px 0px
      background $mainBlue
      table-layout fixed
      color #fff
      text-align center
      width 1100px
      tbody
        width 100%
        tr:nth-child(2n+2)
          td:nth-child(2n+1)
            background lighten($mainBlue, 30%)
          td:nth-child(2n+2)
            background lighten($guidGolden, 30%)
          td:nth-child(2n+3)
            background lighten($darkGray, 30%)
        tr
          .sub-text
            font-size 20px
          td
            font-size 16px
            @media screen and (max-width:990px)
              font-size 28px
            .main-button
              color #fff
              display flex
              flex-wrap wrap
              justify-content center
              margin auto
          td:first-child
            width 45%
            color #fff
            text-align right
            padding-right 10px
            @media screen and (max-width:990px)
              width 55%
          td:nth-child(2), td:nth-child(4)
            background $guidGolden
            color $mainBlue
          td:nth-child(3), td:nth-child(4)
            background $darkGray
            color #fff
            .title,
              color #fff
            .sub-text
              @media screen and (max-width:990px)
                font-size 24px
