.split-list-container
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  padding 0% 10%
  @media screen and (max-width:1200px)
    padding 0% 5%
  @media screen and (max-width:990px)
    padding 0
  .item
    display flex
    flex-direction row
    align-items center
    width 100%
    border-bottom 1px solid $lightGray
    padding 40px 0px
    @media screen and (max-width:990px)
      flex-direction column
      .image-container
        min-width 100% !important
        max-width 100% !important
        margin 0px !important
      .description
        align-items center
        text-align center
        width 100%
        padding 40px 20px
        .desc-text
          width 100%
        .button-container
          justify-content center
    &:last-of-type
      border-bottom none
    .video-container
      width 70%
      margin-right 40px
      align-self center
      height unset
      @media screen and (max-width:990px)
        width 100%
        margin 0
    .image-container
      min-width 25%
      max-width 25%
      margin-right 40px
      height auto
      img
        max-width 100%
        height auto
    .description
      display flex
      flex-direction column
      width 100%
      .desc-text
        width 80%
        ul
          padding 10px 20px
          color $guidGolden
          font-size 16px
          @media screen and (max-width:990px)
            font-size 30px
          li
            @media screen and (max-width:990px)
              text-align left
            .text
              color $textDarkGray
              @media screen and (max-width:990px)
                font-size 30px
      .button-container
        padding 20px 0px
        display flex
        flex-wrap wrap
        width 60%
        @media screen and (max-width:990px)
          flex-direction column
        a
          margin 10px 10px 10px 0px
          padding 6px 15px
          @media screen and (max-width:990px)
            margin 10px auto
            padding 12px 40px
