.tab-buttons
  padding 20px 0px 50px 0px
  display flex
  flex-direction row
  align-items center
  justify-content center
  width 100%
  flex-wrap wrap
  a
    margin 10px 5px
    width auto
.tab-content
  display none
  &.active
    display flex
