.container.testimonials
  width 80%
  .testimonials-wrapper
    display flex
    justify-content center
    align-items center
    flex-direction column
    width 100%
    .testimonial-buttons
      padding 20px 0px 50px 0px
      display flex
      flex-direction row
      align-items center
      justify-content center
      width 100%
      flex-wrap wrap
      .main-button
        &.active
          background-color: $guidGolden;
          color: $mainBlue;
        @media screen and (max-width:990px)
          font-size 24px
          padding 20px 60px
.testimonial-list
  padding 40px 0px
  flex-direction row
  flex-wrap wrap
  display none
  width 100%
  &.center
    justify-content center
  &.active
    display flex
  .testimonial
    margin 20px 10px
    background $mainBlue
    color #fff
    position relative
    &.square
      width 30%
      @media screen and (max-width:1100px)
        width 100%
    &.rectangle
      width 65%
      @media screen and (max-width:1100px)
        width 100%
      &.full
        width 100%
    .icon
      position absolute
      top -30px
      background #fff
      border-radius 50%
      left 47%
      border 1px solid $guidGolden
      padding 15px
      display flex
      .fa
        color $guidGolden
        font-size 28px
    .desc-text
      color #fff
      margin 0px
      &.quote
        padding 50px 20px 20px 20px
        white-space pre-wrap
        text-align left
    .title
      color #fff
      margin 0px 0px 5px 0px
    .sub-text
      color $guidGolden
      padding-bottom 30px
      @media screen and (max-width:990px)
        font-size 24px
