.container.video-library
  width 100%
  @media screen and (max-width:990px)
    padding 0
  >.main-heading
    padding 0px 40px
    margin-bottom 0px
  .split-list-container
    padding 2% 10%
    @media screen and (max-width:990px)
      padding 0
      flex-wrap wrap
      .item
        border-bottom none
    .item
      .desc-text
        width 100%
