.container.webinars
  width 85%
  padding 0
  >.main-heading
    padding 0px 40px
    margin-bottom 0px
  @media screen and (max-width:990px)
    width 100%
    >.main-heading
      padding 20px 40px
  .split-list-container
    .item
      .image-container
        max-width 40%
        min-width 40%
        max-height 250px
        @media screen and (max-width:990px)
          max-height 550px
      .description
        .desc-text
          width 100%
          padding-bottom 10px
        .main-button
          width max-content
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            width auto
            display table
