.container.white-papers
  width 100%
  text-align center
  @media screen and (max-width:990px)
    padding 0px
  .paper-list
    display flex
    flex-direction row
    width 100%
    padding 0% 5%
    justify-content center
    .image-container
      height 350px
      @media screen and (max-width:990px)
        height 500px
    @media screen and (max-width:990px)
      flex-direction column
      align-items center
      padding 0px
      .split-content-card
        width 100%
        border none
        margin 60px 0px
        img
          width 100%
          height 500px
        .main-heading
          padding 20px
          &.left
            text-align center
            align-items center
      img
        width 450px
        height 310px
