.container.why-guidance
  width 75%
  >.main-heading
    margin-bottom 0px
  @media screen and (max-width:1300px)
    width 95%
  @media screen and (max-width:990px)
    width 100%
    padding 0px
  .compare-table.wrapper
    width 100%
    .table-container
      overflow-x scroll
      .table
        .fa
          cursor pointer 
        @media screen and (max-width:1300px)
          width 1100px
          td
            font-size 18px
        margin 20px auto
        .main-button
          display flex
          flex-wrap wrap
          justify-content center
          margin auto
          @media screen and (max-width:990px)
            padding 10px 20px
  .accordion-split-content
    .accordion-content
      flex-basis 100%
      h4
        &.title
          &.four
            padding-left 20px
.modal-dialog.religious-info
  top none
  width 80%
  .modal-content
    height 100%
    .title.three
      font-family guidRegular
.single-video-section
  .video-container.why-guidance
    @media screen and (max-width:990px)
      width 100%
