$mainBlue = #2c51a4
$mediumBlue = #254386
$darkBlue = #21366e
$guidGolden = #f2cc00
$darkGray = #707070
$lightGray = #ebebeb
$textDarkGray = #636363
$textDarkerGray = #1a1a1a
$lightGrayIcons = #d7d7d7
$buttonBlue = #007bff
$navGray = #e1e1e1
$navTextGray = #464646
$twitterColor = #1da1f2
$linkedinColor = #0077B5
$skyBlue = #33a0d8

@import 'components/*'
@import '../../.././node_modules/font-awesome/css/font-awesome.css'
@import '../../.././node_modules/bootstrap/dist/css/bootstrap.css'
@import '../../.././node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../.././node_modules/owl.carousel/dist/assets/owl.theme.default.css';
@import '../../.././node_modules/bootstrap-slider/dist/css/bootstrap-slider.css'

@font-face
  font-family guidRegular
  src url('/fonts/vendor/googleFont/OpenSans-Regular.ttf')

@font-face
  font-family guidLight
  src url('/fonts/vendor/googleFont/OpenSans-Light.ttf')

@font-face
  font-family guidItalic
  src url('/fonts/vendor/googleFont/OpenSans-Italic.ttf')

@font-face
  font-family guidLightItalic
  src url('/fonts/vendor/googleFont/OpenSans-LightItalic.ttf')

@font-face
  font-family guidBold
  src url('/fonts/vendor/googleFont/OpenSans-Bold.ttf')
body
  font-family guidRegular
  margin 0
  display flex
  flex-direction column
  main
    min-height calc(100vh - 318px)
    @media screen and (max-width:990px)
      min-height calc(100vh - 575px)
.container-fluid
  padding 0 !important

.video-container
    border 2px solid #e5e5e5
    background-color #fff
    width 100%
    .video
      position relative
      padding-bottom 52.2%
      height 0
      overflow hidden
      cursor pointer
      &:hover
        .video-thumbnail
          cursor pointer
          opacity 0.7
        .video-play
          background-image url('../images/youtube_red.png')
      .video-thumbnail
        width 100%
        height auto
      .video-play
        background-attachment scroll
        background-size 70px 50px
        background-image url('../images/youtube_dark.png')
        background-position center center
        image-rendering crisp-edges
        background-repeat no-repeat
        display block
        margin -25px 0 0 -35px
        position absolute
        width 70px
        height 50px
        top 50%
        left 50%
        cursor pointer
      iframe
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        margin 0
.single-video-section
  background $lightGray
  width 100%
  display flex
  flex-direction column
  align-items center
  padding-bottom 40px
  .video-container
    width 60%
    @media screen and (max-width:990px)
      width 100%
.split-content-section
  display flex
  flex-direction row
  padding 50px 0
  width 100%
  .image-container
    img
      max-width 100%
      height auto
      width 100%
      min-height 100%
  &.tile
    border-bottom 1.5px solid #f3f3f3
    &:last-of-type
      border-bottom none
  .main-heading
    margin-left 40px
.app-circle
  border-radius 50%
  display flex
  border 1px solid $guidGolden
  background #fff
  flex-direction column
  align-items center
  text-align center
  justify-content center
  padding 25px
.image-container
  img
    max-width 100%
    height auto
    width 100%
.app-download-flag
  width 100%
  display flex
  align-items center
  flex-direction row
  background $mainBlue
  justify-content space-around
  .main-heading
    width max-content
  .seperate-line
    margin 5px 0 10px 0 !important
  .title,.desc-text
    color #fff
.media-inquiry-flag
  width 100%
  display flex
  background $mainBlue
  flex-direction row
  justify-content center
  align-items center
  padding 15px 0px
  @media screen and (max-width:990px)
    flex-direction column
  .app-circle
    width 20px
    height 20px
    padding 25px
    margin-right 40px
    @media screen and (max-width:990px)
      margin-right 0px
    .fa
      color $mainBlue
      font-size 25px
  .main-heading
    width auto
    @media screen and (max-width:990px)
      &.left
        align-items center
  .contact-info
    display flex
    flex-direction column
    @media screen and (max-width:990px)
      text-align center
    .item
      padding 0px
      color #fff
      line-height 1.6em
      .bold
        text-transform uppercase
      h4
        padding 0
        @media screen and (max-width:990px)
          font-size 30px
      a
        color #fff
        &:active, &:focus, &:hover
          text-decoration none
        @media screen and (max-width:990px)
          font-size 24px

.split-content-card
  width 450px
  display flex
  flex-direction column
  border 1px solid $lightGray
  border-radius 5px
  margin 20px 30px
  @media screen and (max-width:990px)
    border none
  .main-heading
    padding 20px
.bold
  font-weight 600
.golden
  color $guidGolden !important
.skyblue
  color $skyBlue
.owl-theme
  .owl-nav [class*='owl-']
    background #fff
    color $mainBlue
    border-radius 0px
    font-family guidBold
    &:hover
      background #fff
      color $mainBlue
.background-image
  background-repeat no-repeat
  background-position center
  background-size cover

.assumption-accordion
  .title
    color $skyBlue
    text-align center
.lowercase
  text-transform lowercase
.no-transform
  text-transform none
a.white-link
  color #ffffff
  &:hover, &:active, &:focus
    color #ffffff